/**
 *
 * Layouts
 *
 * Holds layout styling for the basic building blocks across the site.
 *
 */


/* Placeholders, variables and mixins related to this document only.
================================================================================================================== */

%layout--element-inner {
  margin: 0 auto;
  max-width: $layout-max-width;
  padding: 2em 0;
  position: relative;
  width: 100%;

  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(row);
}


/* Body
   ================================================================================================================== */

body {
  background: $dark-blue; // Used for maintaining footer bg color for pages with very little content.
  font: $font;
  margin: 0 auto;
}

/* Layout
   ================================================================================================================== */

.layout--element-header {
  padding: 0 $spacing / 2;
  width: 100%;
}


// Frontpage and profile layout.
.layout-newsletter-archive,
.layout-view-page,
.layout-node,
.layout-frontpage,
.layout-profile {
  .layout-inner > div:nth-child(1),
  .layout-inner > div:nth-child(4) {
    background: $white;
  }

  .layout-inner > div:nth-child(2),
  .layout-inner > div:nth-child(5) {
    background: $gray-lightest;
  }


  .layout-inner > div:nth-child(3) {
    background: $gray-lighter;
  }

  .layout-element-alpha,
  .layout-element-beta,
  .layout-element-gamma,
  .layout-element-delta,
  .layout-element-epsilon {
    &-inner {
      @extend %layout--element-inner;
    }
  }
}

.layout-view-page {
  .layout-element-alpha-inner {
    padding: 0;
  }
}