# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

* Ignore external themes and modules
profiles/ulf/themes/ud_og_laer
profiles/ulf/themes/ulf_aarhus
profiles/ulf/themes/ulf_viborg

profiles/ulf/modules/features/ulf_silkeborg_search_settings
profiles/ulf/modules/features/ulf_aarhus_search_settings
profiles/ulf/modules/features/ulf_viborg_search_settings

profiles/ulf/modules/ulf_custom/ulf_aarhus_settings
profiles/ulf/modules/ulf_custom/ulf_silkeborg_settings
profiles/ulf/modules/ulf_custom/ulf_viborg_settings

# Ignore google site verification for ulfiaarhus
google292879b9f344fd1e.html
