/**
 *
 * Layouts
 *
 * Holds layout styling for the basic building blocks across the site.
 *
 */


/* Placholders, variables and mixins related to this document only.
================================================================================================================== */

%layout--element-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  margin: 0 auto;
  max-width: $layout-max-width;
  padding: 2em 0;
  position: relative;
  width: 100%;
}


/* Body
   ================================================================================================================== */

body {
  background: $dark-blue; // Used for maintaining footer bg color for pages with very little content.
  font: $font;
  margin: 0 auto;
}

.page-wrapper {
  background: $white; // The actual background for content should be white.
}


/* Layout
   ================================================================================================================== */

.layout--element-header {
  padding: 0 $spacing / 2;
  width: 100%;
}


// Frontpage and profile layout.

.layout-frontpage,
.layout-profile {
  .layout-element-alpha {
    background: $white;
  }

  .layout-element-beta {
    background: $gray-lightest;
  }

  .layout-element-gamma {
    background: $gray-lighter;
  }

  .layout-element-alpha,
  .layout-element-beta,
  .layout-element-gamma {
    &-inner {
      @extend %layout--element-inner;
    }
  }
}


// Default layout

.layout-node {
  .layout-element-alpha {

  }

  .layout-element-beta {
    background: $gray-lightest;
  }

  .layout-element-gamma {
    background: $gray-lighter;
  }

  .layout-element-alpha {
    &-inner {
      @extend %layout--element-inner;
    }
  }
}
