/**
 * Layouts
 */


/* Body
   ================================================================================================================== */

body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: -8em -15em;

  padding-top: 5px;

  @include background-size(40em);

  @include breakpoint(35em) {
    background-position: -5em -15em;

    @include background-size(62.5em);
  }

  @include breakpoint($layout-max-width) {
    background-position: 25% -15em;
  }
}



/* Logo
   ================================================================================================================== */

.logo {
  position: absolute;
  top: 1.5em;
  right: .5em;
  overflow: hidden;

  display: block;
  height: 2.75em;
  width: 4em;

  @include breakpoint(45em) {
    top: 2.25em;
    left: $zen-gutter-width / 2;
    overflow: visible;

    width: 16%;
  }
}

.logo-image {
  max-width: 265%;

  @include breakpoint(45em) {
    max-width: 100%;
  }
}


/* Layout
   ================================================================================================================== */


.layout-frontpage,
.layout-default,
.layout-alternative,
.layout-search {
  clear: both;
  overflow: hidden;
}


.layout-inner {
  @extend %global--layout-container;
}


.layout-element-alpha,
.layout-element-beta,
.layout-element-gamma,
.layout-element-delta,
.layout-element-epsilon {
  float: left;

  margin-bottom: 2em;
  width: 100%;

  @include box-sizing(border-box);
}


// Frontpage layout

.layout-frontpage {
  .layout-element-alpha {
    @include breakpoint(45em) {
      @include zen-grid-item(12, 1);
    }
  }

  .layout-element-beta {
    @include breakpoint(45em) {
      clear: left;

      @include zen-grid-item(8.5, 1);
    }
  }

  .layout-element-gamma {
    @include breakpoint(45em) {
      @include zen-grid-item(3.5, 1, right);
    }
  }

  .layout-element-delta,
  .layout-element-epsilon {
    @include breakpoint(45em) {
      clear: left;

      @include zen-grid-item(8.5, 1);
    }
  }
}


// Default layout

.layout-default {
  .layout-element-alpha {
    @include breakpoint(45em) {
      @include zen-grid-item(8.5, 1, right);
    }
  }

  .layout-element-beta {
    @include breakpoint(45em) {
      @include zen-grid-item(3.5, 1);
    }
  }

  .layout-element-gamma {
    @include breakpoint(45em) {
      clear: both;

      @include zen-grid-item(6, 1);
    }
  }

  .layout-element-delta {
    @include breakpoint(45em) {
      @include zen-grid-item(6, 1, right);
    }
  }

  .layout-element-epsilon {
    @include breakpoint(45em) {
      clear: both;

      @include zen-grid-item(12, 1);
    }
  }
}


// alternative layout

.layout-alternative {
  .layout-element-alpha {
    @include breakpoint(45em) {
      @include zen-grid-item(8.5, 1);
    }
  }

  .layout-element-beta {
    @include breakpoint(45em) {
      @include zen-grid-item(3.5, 1, right);
    }
  }

  .layout-element-gamma,
  .layout-element-delta {
    @include breakpoint(45em) {
      clear: left;

      @include zen-grid-item(8.5, 1);
    }
  }

  .layout-element-epsilon {
    @include breakpoint(45em) {
      clear: right;

      @include zen-grid-item(3.5, 1, right);
    }
  }
}


// Search layout

.layout-search {
  @extend .layout-default;

  .layout-element-alpha {
    float: left;

    @include breakpoint(45em) {
      float: right;
    }
  }
}



/* Entity form layouts
   ================================================================================================================== */

.node--form {
  @extend %global--layout-container;

  @include zen-grid-container();
  @include zen-clear(both);

  .form-actions,
  .vertical-tabs {
    @include zen-grid-item(8, 1);
    @include zen-clear(both);
  }
}

.form-layout--alfa {
  @include breakpoint($breakpoint-1) {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }

  @include breakpoint(50em) {
    @include zen-grid-item(8, 1);
    @include zen-clear(left);
  }
}

%form-layout {
  border: 0;
  margin-bottom: $margin-bottom;
}

.form-layout--beta {
  @extend %form-layout;

  @include breakpoint($breakpoint-1) {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }

  @include breakpoint(50em) {
    @include zen-grid-item(4, 1, right);
    @include zen-clear(right);
  }
}

// Includes a few field collections
.form-layout--gamma,
.form-layout--delta,
.form-layout--epsilon {
  @extend %form-layout;

  @include breakpoint($breakpoint-1) {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }

  @include breakpoint(50em) {
    @include zen-grid-item(8, 1);
    @include zen-clear(left);
    @include zen-nested-container();
  }
}

.field-name-field-educational-material,
.field-name-field-inspirational-material {
  @extend %form-layout;

  @include breakpoint($breakpoint-1) {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }

  @include breakpoint(50em) {
    @include zen-grid-item(8, 1);
    @include zen-clear(left);
    @include zen-nested-container();
  }
}
