/**
 * Layouts
 */



/* Placholders, variables and mixins related to this document only.
================================================================================================================== */

%layout--element-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  margin: 0 auto;
  max-width: 75em;
  padding: 2em 0;
  position: relative;
  width: 100%;
}


/* Body
   ================================================================================================================== */

body {
  font-family: "Asap", sans-serif;
  font-size: 14px;
  margin: 0 auto;
}


/* Layout
   ================================================================================================================== */

.layout--element-header {
  padding: 0 16px;
  width: 100%;
}


// Frontpage layout

.layout-frontpage {
  .layout-element-alpha {
    background: $white;
  }

  .layout-element-beta {
    background: $gray-lightest;
  }

  .layout-element-gamma {
    background: $gray-lighter;
  }

  .layout-element-alpha,
  .layout-element-beta,
  .layout-element-gamma {
    &-inner {
      @extend %layout--element-inner;
    }
  }
}


// Default layout

.layout-default {
  .layout-element-alpha {
    background: $white;
  }

  .layout-element-beta {
    background: $gray-lightest;
  }

  .layout-element-gamma {
    background: $gray-lighter;
  }

  .layout-element-alpha,
  .layout-element-beta,
  .layout-element-gamma {
    &-inner {
      @extend %layout--element-inner;
    }
  }
}


// alternative layout

.layout-alternative {
  .layout-element-alpha {
    background: $white;
  }

  .layout-element-beta {
    background: $gray-lightest;
  }

  .layout-element-gamma {
    background: $gray-lighter;
  }

  .layout-element-alpha,
  .layout-element-beta,
  .layout-element-gamma {
    &-inner {
      @extend %layout--element-inner;
    }
  }
}