/**
 *
 * Form module
 *
 * Contains styles related to form elements.
 *
 */

/* Styles.
================================================================================================================== */

input,
textarea {
  font: $font;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid $gray-lighter;
  display: block;
  min-height: 1.25em;
  width: 100%;
  padding: .75em;

  color: $gray-darker;
  background-color: darken($white, 2%);

  &:focus {
    border: 1px solid $gray-dark;

    color: $gray-darkest;
  }

  &[disabled] {
    @include box-shadow(0 0 0);

    border: 1px solid $gray-light;

    background-color: lighten($gray-light, 5%);
  }

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}

.form-item {
  padding: 1em 0;

  // Form items within form items shouldnt have the padding (IE checkbox lists)
  & .form-item {
    padding: 0;
  }
}