/**
 * Variables
 *
 * @author magnify
 */



/* Layout
   ================================================================================================================== */

$border-radius:    .6em !default;



/* Colors
   ================================================================================================================== */

$black:            #000 !default;
$white:            #fff !default;



/* Typograhy
   ================================================================================================================== */

$font:             1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif !default;



/* Link colors
   ================================================================================================================== */

$link-color:       blue !default;



/* Spacing
   ================================================================================================================== */

$margin-bottom:    1.5em !default;
$padding-bottom:   1.5em !default;
