.field-name-field-pretix-date .field-name-field-pretix-spaces,
.field-name-field-pretix-date .field-name-field-pretix-start-date,
.field-name-field-pretix-date .field-name-field-pretix-presale,
.field-name-field-pretix-date .field-name-field-pretix-free,
.field-name-field-pretix-date .field-name-field-pretix-price {
  display: inline-block;
  vertical-align: top;
}

.field-name-field-pretix-date .field-name-field-pretix-spaces,
.field-name-field-pretix-date .field-name-field-pretix-free,
.field-name-field-pretix-date .field-name-field-pretix-price {
  margin-right: 2em;
}

.field-name-field-pretix-date .field-name-field-pretix-free {
  margin-top: 1.5em;
}

.field-name-field-pretix-date .form-submit {
  margin-top: 1em;
}

.pretix-widget-wrapper .pretix-widget {
  margin-top: 0;
  border-radius: 0;
  border-top: 0;
}

.pretix-widget-item-price-col {
  display: none;
}
.pretix-widget-item-row {
  display: flex;
  flex-direction: row;
}
.pretix-widget-item-info-col {
  width: 50px;
  float: none !important;
  order: 2;
}
.pretix-widget-item-availability-col {
  width: 50px !important;
  text-align: left !important;
  float: none !important;
  order: 1;
}
