#transportpulje-form-add-application {
    width: 50%;
}

#transportpulje-form-add-application label {
    display: block;
}

#transportpulje-form-add-application select {
    min-width: 50%;
}

#transportpulje-form-add-application fieldset {
    margin: 1em 0;
}

#transportpulje-form-add-application .form-wrapper > .message {
    background: lightgrey;
    box-sizing: border-box;
    display: block;
    padding: 1em;
    margin: 1em 0;
    border-radius: .5em;
    width: 100%;
}

#transportpulje-form-add-application .form-submit {
    margin: 1em 0;
}

#transportpulje-form-add-application .form-submit.form-disabled {
    background: lightgrey;
    border-color: lightgrey;
}

#transportpulje-form-add-application #part_two .is-hidden {
    display: none!important;
}

#transportpulje-form-add-application #edit-submit-wrapper {
    display: none;
}

#transportpulje-form-add-application #part_two.has-passed + #edit-submit-wrapper {
    display: block;
}