/**
 * IE 9 specific styles
 *
 *  ================================================================================================================== */

.footer--inner,
.layout-element-alpha-inner,
.layout-element-beta-inner,
.layout-element-gamma-inner,
.layout-element-delta-inner,
.layout-element-epsilon-inner,
.teaser--list,
.page--content,
.content,
.search-results {
    overflow: hidden;
}


.search--widget-inner {
    height: 515px;
}

@media only screen and (min-width : 651px) and (max-width : 1000px){
    .search--widget-inner {
        height: 280px;
    }
}

@media only screen and (min-width : 1000px){
    .search--widget-inner {
        height: 200px;
    }
}

.is-course .search--widget-inner {
    height: auto;
}

.search--widget-selected {
    min-height: 40px;
    width: 100%;
}

.block--newsletter,
.teaser,
.search-results--result {
    float: left;
    max-width: 49%;
    min-width: 49%;
    height: 255px;
}

.teaser--group {
    float: left;
    max-width: 49%;
    height: 255px;
}

.block--newsletter {
    height: 100%;
}

.block--newsletter-inner {
    padding-bottom: 1em;
}

.footer--block {
    float: left;
}


.search--filter-wrapper {
    float: left;
    height: 5.5em;
    margin-bottom: 2px;
}


.search--filter-wrapper-inner {
    height: 5.5em;
}

.search--filter-span,
.search--filter-text,
.search--filter-list {
    height: 100%;
    display: block;
    position: relative;
    width: auto;
}

.search--filter-span {
    display: inline-block;
}

.search--filter-span-wrapper {
    float: left;
}

.search--widget-selected,
.search--widget-extras {
    box-sizing: border-box;
    float: left;
}

.search-results--result:nth-child(odd),
.teaser:nth-child(odd) {
    margin-right: 2%;
}


.search-results--result header,
.teaser header {
    float: right;
    width: 65%;
}


.search-results--result figure,
.teaser figure {
    float: left;
    width: 30%;
}

.content--main {
    float: left;
    width: 60%;
}

.content--meta {
    margin-right: 8px;
    float: right;
    width: 35%;
}

.pager {
    overflow: hidden;
}

.pager > li {
    float: left;
    display: block;
}