/**
 * IE 9 specific styles
 *
 *  ================================================================================================================== */

.layout-element-alpha-inner,
.layout-element-beta-inner,
.layout-element-gamma-inner,
.layout-element-delta-inner,
.teaser--list {
    overflow: hidden;
}

.teaser--group,
.teaser {
    float: left;
    max-width: 49%;
}

.teaser header {
    float: right;
    max-width: 65%;
}

.teaser figure {
    float: left;
    max-width: 30%;
}