/**
 * Stylesheet import
 *
 * @author magnify
 */
/* Compass */
/* Zen Grids - http://zengrids.com */
/**
 * Variables
 *
 * @author magnify
 */
/* Layout
   ================================================================================================================== */
/* Colors
   ================================================================================================================== */
/* Typograhy
   ================================================================================================================== */
/* Link colors
   ================================================================================================================== */
/* Spacing
   ================================================================================================================== */
/**
 * Variables
 *
 * Theme specific variables
 *
 * @author magnify
 */
/* Layout
   ================================================================================================================== */
/* Colors
   ================================================================================================================== */
/* Typography
   ================================================================================================================== */
/* Link colors
   ================================================================================================================== */
/* Spacing
   ================================================================================================================== */
/* Misc
   ================================================================================================================== */
/**
 * Normalize
 *
 * Normalize.css v2.1.2 | MIT License | git.io/normalize
 */
/* HTML5 display definitions
   ================================================================================================================== */
/* Correct `block` display not defined in IE 8/9. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
  display: inline-block; }

/* Prevent modern browsers from displaying `audio` without controls. */
/* Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }

/* Address styling not present in IE 8/9. */
[hidden] {
  display: none; }

/* Base
   ================================================================================================================== */
/* 1. Set default fontello family to sans-serif. */
/* 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Remove default margin. */
body {
  margin: 0; }

/* Links
   ================================================================================================================== */
/* Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted; }

/* Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
  outline: 0; }

/* Typography
   ================================================================================================================== */
/* Address variable `h1` fontello-size and margin within `section` and `article` */
/* contexts in Firefox 4+, Safari 5, and Chrome. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted; }

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b,
strong {
  font-weight: bold; }

/* Address styling not present in Safari 5 and Chrome. */
dfn {
  font-style: italic; }

/* Address differences between Firefox and other browsers. */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* Address styling not present in IE 8/9. */
mark {
  background: #ff0;
  color: #000; }

/* Correct fontello family set oddly in Safari 5 and Chrome. */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers. */
pre {
  white-space: pre-wrap; }

/* Set consistent quote types. */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* Address inconsistent and variable fontello size in all browsers. */
small {
  font-size: 80%; }

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ================================================================================================================== */
/* Remove border when inside `a` element in IE 8/9. */
img {
  border: 0; }

/* Correct overflow displayed oddly in IE 9. */
svg:not(:root) {
  overflow: hidden; }

/* Figures
   ================================================================================================================== */
/* Address margin not present in IE 8/9 and Safari 5. */
figure {
  margin: 0; }

/* Forms
   ================================================================================================================== */
/* Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* 1. Correct `color` not being inherited in IE 8/9. */
/* 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/* 1. Correct fontello family not being inherited in all browsers. */
/* 2. Correct fontello size not being inherited in all browsers. */
/* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/* Address Firefox 4+ setting `line-height` on `input` using `!important` in */
/* the UA stylesheet. */
button,
input {
  line-height: normal; }

/* Address inconsistent `text-transform` inheritance for `button` and `select`. */
/* All other form control elements do not inherit `text-transform` values. */
/* Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. */
/* Correct `select` style inheritance in Firefox 4+ and Opera. */
button,
select {
  text-transform: none; }

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. */
/* 2. Correct inability to style clickable `input` types in iOS. */
/* 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default; }

/* 1. Address box sizing set to `content-box` in IE 8/9. */
/* 2. Remove excess padding in IE 8/9. */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. */
/* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/* Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* 1. Remove default vertical scrollbar in IE 8/9. */
/* 2. Improve readability and alignment in all browsers. */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* Tables
   ================================================================================================================== */
/* Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Base
 *
 * Contains styling and reset of basic elements
 *
 * @author magnify
 */
body {
  background-color: #f2f2f2;
  color: #333;
  font: 1em/1.5 "ff-scala-sans-web-pro", Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .25em;
  font-family: 1em/1.5 "ff-scala-sans-web-pro", Arial, sans-serif;
  font-weight: normal;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;
  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }
  em strong {
    font-weight: bold; }

/* Links
   ================================================================================================================== */
a:link {
  color: #269eD9;
  text-decoration: underline; }
a:visited {
  color: #228ec3; }
a:hover {
  color: #1e7eae;
  text-decoration: none; }
a:focus {
  color: #1e7eae; }

/* Paragraph
   ================================================================================================================== */
p {
  margin-top: 0; }

/* Image
   ================================================================================================================== */
img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom; }

/**
 * Forms
 *
 * @author magnify
 */
/* Basic styling
   ================================================================================================================== */
input,
textarea {
  font: 1em/1.5 "ff-scala-sans-web-pro", Arial, sans-serif; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #e6e6e6;
  display: block;
  min-height: 1.25em;
  width: 100%;
  padding: .75em;
  color: #666666;
  background-color: #fff;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    border: 1px solid gray;
    color: #4d4d4d; }
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="date"][disabled],
  input[type="datetime"][disabled],
  input[type="email"][disabled],
  input[type="number"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="time"][disabled],
  input[type="url"][disabled],
  textarea[disabled] {
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border: 1px solid #b3b3b3;
    background-color: #bfbfbf; }

/* Labels
   ================================================================================================================== */
label {
  display: block;
  margin-bottom: .25em;
  /* Move labels so they align better with fields when using rounded corners */
  margin-left: .3em;
  color: #666666; }

/**
 * Contains global placeholders for use across the site
 */
/* Use this placeholder to center a container */
.search-module--result, .search-module--spelling-suggestions, .search-facets-mobile--toggle-wrapper {
  border-bottom: 1px dashed #e6e6e6;
  margin-bottom: 2em;
  padding-bottom: 2em; }

.search-module--result.is-last {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

/**
 * Contains global mixins for use across the site.
 */
/**
 * Breakpoints
 *
 * Should contain breakpoint variables and breakpoints related mixins
 *
 * @author magnify
 */
/* Breakpoints
   *
   * These are only examples, change/add/remove so they match your needs
   *
   ================================================================================================================== */
/* Mixins
   *
   * Use this mixin to change styling for your rulesets depending on a breakpoint (width)
   *
   * Usage example: @include breakpoint($breakpoint-x)
   *
   ================================================================================================================== */
/**
 * Buttons
 *
 * @author magnify
 */
.button, .is-default-form .form-submit, .form-module--user-submit, .header-search-module--submit, .search-module--submit, .button-yellow, .search-facets-mobile--toggle {
  display: inline-block;
  font-size: 125%;
  padding: .5em 1.5em;
  position: relative;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em; }
  .button:focus, .is-default-form .form-submit:focus, .form-module--user-submit:focus, .header-search-module--submit:focus, .search-module--submit:focus, .button-yellow:focus, .search-facets-mobile--toggle:focus, .button:hover, .is-default-form .form-submit:hover, .form-module--user-submit:hover, .header-search-module--submit:hover, .search-module--submit:hover, .button-yellow:hover, .search-facets-mobile--toggle:hover, .button:active, .is-default-form .form-submit:active, .form-module--user-submit:active, .header-search-module--submit:active, .search-module--submit:active, .button-yellow:active, .search-facets-mobile--toggle:active {
    text-decoration: none; }

.button, .is-default-form .form-submit, .form-module--user-submit, .header-search-module--submit, .search-module--submit {
  background-color: #3ca8dd;
  border: 1px solid #269eD9;
  color: #fff;
  text-shadow: 0.025em 0.025em 0.1em #1e7eae; }
  .button:hover, .is-default-form .form-submit:hover, .form-module--user-submit:hover, .header-search-module--submit:hover, .search-module--submit:hover {
    background-color: #269eD9; }

.button-yellow, .search-facets-mobile--toggle {
  background-color: #f9bf4d;
  border: 1px solid #f8b634;
  color: #fff;
  text-shadow: 0.025em 0.025em 0.1em #f1a208; }
  .button-yellow:hover, .search-facets-mobile--toggle:hover {
    background-color: #f8b634; }

/**
* Tabs
*/
.tabs {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 75em; }
  .tabs.primary {
    padding-left: 1.5em;
    border: none; }
  .tabs li,
  .tabs li.active,
  .tabs li:hover,
  .tabs li.active:hover {
    border-right: none;
    display: inline-block;
    padding-right: 0;
    background: transparent; }
    .tabs li a,
    .tabs li.active a,
    .tabs li:hover a,
    .tabs li.active:hover a {
      border-top: 1px solid #b3b3b3;
      border-right: 1px solid #b3b3b3;
      border-left: 1px solid #b3b3b3;
      display: block;
      margin: 0;
      padding: .5em 1.25em 0.25em;
      line-height: inherit;
      text-decoration: none;
      -moz-border-radius: 0.6em 0.6em 0 0;
      -webkit-border-radius: 0.6em;
      border-radius: 0.6em 0.6em 0 0; }
      .tabs li a:hover,
      .tabs li.active a:hover,
      .tabs li:hover a:hover,
      .tabs li.active:hover a:hover {
        background: #f2f2f2;
        color: #000;
        text-decoration: none; }
  .tabs li a {
    background: #e6e6e6; }
  .tabs li a.active {
    background: #fff; }
  .tabs.secondary {
    margin-top: 0;
    margin-bottom: -.5em;
    padding: 1.5em 1em .25em;
    background-color: #fff;
    -moz-border-radius: 0.6em 0.6em 0 0;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em 0.6em 0 0; }
    .tabs.secondary li a {
      border: 1px solid #b3b3b3;
      padding: .5em 1.25em .25em;
      background: #fff; }
    .tabs.secondary li a.active {
      background: #e6e6e6; }
    .tabs.secondary li a,
    .tabs.secondary li.active a,
    .tabs.secondary li:hover a,
    .tabs.secondary li.active:hover a {
      -moz-border-radius: 0.6em;
      -webkit-border-radius: 0.6em;
      border-radius: 0.6em; }

/**
* Tabs
*/
.pager {
  border-top: 1px dashed #e6e6e6;
  padding-top: 2em;
  padding-left: 0;
  text-align: center; }
  .pager li {
    display: inline-block;
    margin-left: -4px;
    margin-right: 1em; }
  .pager .pager-current,
  .pager a {
    display: inline-block;
    padding-top: .5em;
    padding-right: 1em;
    padding-bottom: .4em;
    padding-left: 1em;
    background-color: #e6e6e6;
    text-decoration: none;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em; }
    .pager .pager-current:hover,
    .pager a:hover {
      background-color: #d9d9d9;
      text-decoration: none; }
  .pager .pager-current {
    background-color: #b3b3b3;
    color: #fff; }
    .pager .pager-current:hover {
      background-color: #a6a6a6; }
  .pager .disabled {
    background-color: #f2f2f2; }
  .pager .disabled a:hover {
    cursor: default;
    text-decoration: none; }

/**
 * Icons
 */
.field-collection-module--link:before, .field-collection-module--file:before {
  display: inline-block;
  font-family: "ulf-icons";
  line-height: 100%; }

.field-collection-module--link:before, .field-collection-module--file:before {
  margin-right: .5em; }

.field-collection-module--link:before {
  content: '\e804'; }

.field-collection-module--file:before {
  content: '\e809'; }

/**
 * Naughty Drupal
 *
 * Holds drupal specific corrections that needs adjustments
 */
/* The toolbar is styled from system.base.css and uses element-invisible tags that should have been hidden in system.base.css, but we are not using that stylesheet. @see ulf.info */
.element-invisible {
  display: none; }

.toolbar-menu {
  overflow: hidden; }

/**
 * Layouts
 */
/* Placholders, variables and mixins related to this document only.
================================================================================================================== */
.layout-frontpage .layout-element-alpha-inner,
.layout-frontpage .layout-element-beta-inner,
.layout-frontpage .layout-element-gamma-inner, .layout-default .layout-element-alpha-inner,
.layout-default .layout-element-beta-inner,
.layout-default .layout-element-gamma-inner, .layout-alternative .layout-element-alpha-inner,
.layout-alternative .layout-element-beta-inner,
.layout-alternative .layout-element-gamma-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  margin: 0 auto;
  max-width: 75em;
  padding: 2em 0;
  position: relative;
  width: 100%; }

/* Body
   ================================================================================================================== */
body {
  font-family: "Asap", sans-serif;
  font-size: 14px;
  margin: 0 auto; }

/* Layout
   ================================================================================================================== */
.layout--element-header {
  padding: 0 16px;
  width: 100%; }

.layout-frontpage .layout-element-alpha {
  background: #fff; }
.layout-frontpage .layout-element-beta {
  background: #f2f2f2; }
.layout-frontpage .layout-element-gamma {
  background: #e6e6e6; }

.layout-default .layout-element-alpha {
  background: #fff; }
.layout-default .layout-element-beta {
  background: #f2f2f2; }
.layout-default .layout-element-gamma {
  background: #e6e6e6; }

.layout-alternative .layout-element-alpha {
  background: #fff; }
.layout-alternative .layout-element-beta {
  background: #f2f2f2; }
.layout-alternative .layout-element-gamma {
  background: #e6e6e6; }

/**
 * Header
 *
 */
.header {
  position: relative;
  background: url(../images/header-bg.jpg) repeat-x 0 0;
  height: 85px;
  -moz-box-shadow: 2px 3px 4px rgba(51, 51, 51, 0.6);
  -webkit-box-shadow: 2px 3px 4px rgba(51, 51, 51, 0.6);
  box-shadow: 2px 3px 4px rgba(51, 51, 51, 0.6); }
  @media only screen and (min-width: 45em) {
    .header {
      height: 160px; } }
  .header--inner {
    height: 100%;
    margin: 0 auto;
    max-width: 75em;
    position: relative;
    width: 100%; }
  .header--logo {
    left: 7.5px;
    max-width: 15em;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (min-width: 45em) {
      .header--logo {
        max-width: 30%; } }
  .header--toggle-mobile-nav {
    background: url(../images/icon-menu.png) no-repeat center center #ffffff;
    display: block;
    padding: 4px;
    position: absolute;
    top: 50%;
    right: 7.5px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6); }
    @media only screen and (min-width: 45em) {
      .header--toggle-mobile-nav {
        display: none; } }

/**
 * Footer
 *
 */
.footer {
  background: #17858c;
  min-height: 15em; }

/**
 * Search module.
 */
.search-module--form-wrapper,
.search-module--wrapper,
.search-module--results {
  padding: 1.5em 1.25em;
  background-color: #fff; }
  @media only screen and (min-width: 45em) {
    .search-module--form-wrapper,
    .search-module--wrapper,
    .search-module--results {
      -moz-border-radius: 0.6em;
      -webkit-border-radius: 0.6em;
      border-radius: 0.6em; } }

@media only screen and (min-width: 45em) {
  .search-module--form-wrapper {
    -moz-border-radius: 0.6em 0.6em 0 0;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em 0.6em 0 0; } }

.search-module--results-gallery {
  float: left;
  padding: 1.5em 1.25em;
  background-color: #fff;
  padding-right: .312em;
  padding-left: .312em; }
  @media only screen and (min-width: 45em) {
    .search-module--results-gallery {
      -moz-border-radius: 0.6em;
      -webkit-border-radius: 0.6em;
      border-radius: 0.6em; } }
  .search-module--results-gallery .search-module--result-left,
  .search-module--results-gallery .search-module--result-middle,
  .search-module--results-gallery .search-module--result-right {
    margin-bottom: 2em; }
  @media only screen and (min-width: 45em) {
    .search-module--results-gallery .search-module--result-left {
      float: left;
      width: 33.33333%;
      margin-left: 0%;
      margin-right: -33.33333%;
      padding-left: 15px;
      padding-right: 15px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      word-wrap: break-word; }
    .search-module--results-gallery .search-module--result-middle {
      float: left;
      width: 33.33333%;
      margin-left: 33.33333%;
      margin-right: -66.66667%;
      padding-left: 15px;
      padding-right: 15px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      word-wrap: break-word; }
    .search-module--results-gallery .search-module--result-right {
      float: right;
      width: 33.33333%;
      margin-right: 0%;
      margin-left: -33.33333%;
      padding-left: 15px;
      padding-right: 15px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      word-wrap: break-word; } }

.search-module--results,
.search-module--results-gallery {
  padding-top: 0; }
  @media only screen and (min-width: 45em) {
    .search-module--results,
    .search-module--results-gallery {
      -moz-border-radius: 0 0 0.6em 0.6em;
      -webkit-border-radius: 0;
      border-radius: 0 0 0.6em 0.6em; } }

.search-module--result {
  overflow: hidden; }

.search-module--result-author {
  margin-bottom: .5em;
  color: #999999; }

.search-module--result-header a:link, .search-module--result-header a:visited, .search-module--result-header a:hover, .search-module--result-header a:active {
  text-decoration: none; }

.search-module--result-image {
  float: left;
  margin-right: 2em; }

.search-module--edit-link .is-moderation-published {
  display: none; }
.search-module--edit-link .is-moderation-draft,
.search-module--edit-link .is-moderation-needs_review {
  color: #ff6138; }

.search-module--spelling-suggestions {
  margin-bottom: 0;
  font-size: 110%; }

.search-module--did-you-mean-text {
  color: #b3b3b3; }

.search-module--result-header {
  text-decoration: none; }
  .search-module--result-header:link {
    text-decoration: none; }

.search-module--result-content {
  margin-bottom: 1em; }

.search-module--form {
  margin-bottom: 2em; }
  .search-module--form .form-text {
    margin-bottom: .75em;
    padding-top: 1em;
    padding-right: 1.25em;
    padding-bottom: .75em;
    padding-left: 3.25em;
    height: 55px;
    background: #fff url("../images/icon-search-transparent.png") no-repeat 1em center; }
    .search-module--form .form-text:focus {
      outline: none; }
    @media only screen and (min-width: 28em) {
      .search-module--form .form-text .form-search {
        padding-right: 6em;
        width: 90%;
        -moz-border-radius: 0.6em 0 0 0.6em;
        -webkit-border-radius: 0.6em;
        border-radius: 0.6em 0 0 0.6em; } }

.search-module--facets-wrapper {
  display: none; }
  @media only screen and (min-width: 45em) {
    .search-module--facets-wrapper {
      display: block; } }

.search-module--facet-selection {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1em; }

li.search-module--facet-link {
  list-style-image: none;
  list-style-type: none; }

/* Toogle search */
.nav--toggle-header-search {
  position: absolute;
  top: 1.35em;
  left: 5em; }
  @media only screen and (min-width: 45em) {
    .nav--toggle-header-search {
      display: none; } }

/**
 *
 * Search facets
 *
 */
.search-facets {
  display: none; }
  @media only screen and (min-width: 45em) {
    .search-facets {
      display: block; } }

.search-facets--group {
  border: 1px solid #e6e6e6;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em; }

.search-facets--header {
  padding-right: .5em;
  padding-left: .5em;
  font-size: 125%; }

.search-facets--item {
  margin-bottom: 0.5em; }

.search-facets--input {
  margin-right: .25em; }

.search-facets--link {
  display: inline;
  color: #269eD9;
  cursor: pointer;
  text-decoration: underline; }
  .search-facets--link:hover {
    color: #269eD9;
    text-decoration: none; }

.search-facets--inactive-text {
  margin-bottom: 0.5em;
  color: #999999;
  text-align: center; }

/* Search facets mobile
   ================================================================================================================== */
.search-facets-mobile--toggle-wrapper {
  margin-bottom: 0;
  padding-top: 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 45em) {
    .search-facets-mobile--toggle-wrapper {
      display: none; } }

.search-facets-mobile--toggle {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.search-facets-mobile {
  display: none; }
  .search-facets-mobile.is-visible {
    display: block; }

/**
* Field module
*
* Contains general field styles.
*
*/
.field-module--wrapper {
  padding: 1.5em 1.25em;
  background-color: #fff; }
  @media only screen and (min-width: 45em) {
    .field-module--wrapper {
      -moz-border-radius: 0.6em;
      -webkit-border-radius: 0.6em;
      border-radius: 0.6em; } }

.field-module--label, .field-module--teaser-label,
.field-module--purpose-label {
  font-size: 1.3em;
  margin-bottom: 0.3em; }

.field-module--text, .field-module--image, .field-module--teaser,
.field-module--purpose {
  border-bottom: 1px #e6e6e6 dashed;
  margin-bottom: 1.6em;
  overflow: hidden;
  padding-bottom: 1em;
  width: 100%; }
  .field-module--text:last-child, .field-module--image:last-child, .field-module--teaser:last-child,
  .field-module--purpose:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0; }

.field-module--author {
  color: #b3b3b3;
  font-size: 1.25em;
  margin-bottom: 0.5em; }

.field-module--image {
  padding: 0;
  border-bottom: 0; }

.field-module--teaser-item,
.field-module--purpose-item {
  font-weight: bold; }

.field-module--educational-material,
.field-module--inspirational-material {
  padding: 1em;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em; }

.field-module--educational-material-item,
.field-module--inspirational-material-item {
  border-bottom: 1px #e6e6e6 dashed;
  margin-bottom: 1.6em;
  padding-bottom: 1em; }
  .field-module--educational-material-item:last-child,
  .field-module--inspirational-material-item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0; }

.field-module--profile-contact-item {
  border-bottom: 1px #e6e6e6 dashed;
  margin-bottom: 1em;
  overflow: hidden; }

.field-module--tags {
  padding: 0.8em 0; }

.is-time-full-year,
.is-price-free {
  display: none; }

/**
 * Forms
 *
 * @author magnify
 */
/* Basic styling
   ================================================================================================================== */
input,
textarea {
  font: 1em/1.5 "ff-scala-sans-web-pro", Arial, sans-serif; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #e6e6e6;
  display: block;
  min-height: 1.25em;
  width: 100%;
  padding: .75em;
  color: #666666;
  background-color: #fafafa;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    border: 1px solid gray;
    color: #4d4d4d; }
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="date"][disabled],
  input[type="datetime"][disabled],
  input[type="email"][disabled],
  input[type="number"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="time"][disabled],
  input[type="url"][disabled],
  textarea[disabled] {
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border: 1px solid #b3b3b3;
    background-color: #bfbfbf; }

/* Labels
   ================================================================================================================== */
label {
  display: block;
  margin-bottom: .25em;
  /* Move labels so they align better with fields when using rounded corners */
  margin-left: .2em;
  color: gray; }

/* Form elements
 *
 * Based on Drupal's form markup, guidelines are not used
 *
   ================================================================================================================== */
.is-default-form .form-wrapper {
  margin-bottom: 1em; }

.is-default-form .form-item {
  padding: 0.5em; }

.is-default-form .form-item-description {
  padding-top: .5em;
  color: #999999; }

.is-default-form .form-required {
  color: #ff6138; }

.is-default-form .form-select {
  border: 1px solid #e6e6e6;
  padding: .75em;
  width: 100%;
  /* Set height for chrome */
  height: 3em;
  background-color: #fafafa;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.is-default-form .form-textarea {
  height: 6em; }

.is-default-form .form-type-checkbox {
  overflow: hidden;
  line-height: 1em;
  margin: 0;
  padding: 0.5em; }
  .is-default-form .form-type-checkbox .form-checkbox {
    float: left;
    margin-right: 1em;
    vertical-align: middle; }

.is-default-form .form-submit {
  width: 100%; }

/* Node form
   ================================================================================================================== */
.field-name-field-subjects .form-select,
.field-name-field-subject .form-select {
  /* Set height for chrome */
  height: 10em; }

.field-name-field-image thead {
  display: none; }

.field-multiple-table {
  width: 100%; }

.vertical-tabs-panes {
  padding: 1em 1em 1em 0; }

.container-inline-date {
  clear: none;
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .container-inline-date {
      clear: none;
      float: left;
      width: 50%; } }

.field-name-field-price,
.field-name-field-unit-price,
.field-name-field-duration,
.field-name-field-duration-unit {
  width: 100%; }
  @media only screen and (min-width: 75em) {
    .field-name-field-price,
    .field-name-field-unit-price,
    .field-name-field-duration,
    .field-name-field-duration-unit {
      clear: none;
      float: left;
      width: 50%; } }

.field-name-field-educational-material,
.field-name-field-inspirational-material,
.fieldset-wrapper {
  background: #fff;
  padding: 1em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em; }

legend a {
  font-size: 1.5em; }
  legend a:link {
    color: #4d4d4d; }

.node--form thead label {
  color: #4d4d4d;
  text-align: left;
  font-weight: normal;
  font-size: 1.5em; }

.node--form tbody tr {
  background: #f2f2f2;
  background: #f2f2f2;
  margin-bottom: 1em;
  padding: 1em;
  display: block; }

.tabledrag-toggle-weight-wrapper,
.field-multiple-drag {
  display: none; }

.node--form .vertical-tabs ul.vertical-tabs-list,
.node--form .vertical-tabs {
  margin: 0;
  width: 100%; }
  @media only screen and (min-width: 50em) {
    .node--form .vertical-tabs ul.vertical-tabs-list,
    .node--form .vertical-tabs {
      margin: auto;
      width: auto; } }

.node--form .vertical-tabs-processed {
  border: 1px solid #e6e6e6;
  float: left; }
  @media only screen and (min-width: 50em) {
    .node--form .vertical-tabs-processed {
      border: 0;
      float: none; } }

.node--form .form-submit {
  margin: 1em 1em 1em 0; }

/* Anonymous user forms
   ================================================================================================================== */
.form-module--user-login {
  position: relative; }
  .form-module--user-login .form-item {
    margin-bottom: 1em; }

/**
 *
 * Teaser
 *
 * Display of list items (Ie. Frontpage and search results. )
 *
 */
/* Placholders, variables and mixins related to this document only.
================================================================================================================== */
.teaser--group-inner, .teaser--content-inner {
  display: block;
  height: 100%;
  overflow: hidden;
  margin: 0 7.5px;
  position: relative; }

.teaser--group-text, .teaser--content-text {
  bottom: 0;
  box-sizing: border-box;
  font-size: 1.45em;
  padding: 0 .5em;
  position: absolute;
  width: 100%; }

/* Styles.
================================================================================================================== */
/* Teaser representing a target group. */
.teaser--group {
  margin-bottom: 15px;
  width: 100%; }
  @media only screen and (min-width: 650px) {
    .teaser--group {
      margin-bottom: 0;
      width: 33.33%; } }
  .teaser--group.is-course {
    width: 50%; }
  .teaser--group-inner:link {
    color: #fff;
    text-decoration: none; }
  .teaser--group-inner:visited {
    color: #fff;
    text-decoration: none; }
  .teaser--group-inner:hover {
    color: #fff;
    text-decoration: none; }
  .teaser--group-inner:focus {
    color: #fff;
    text-decoration: none; }
  .teaser--group-inner:hover .teaser--group-text.is-dagtilbud {
    background: #a4da20; }
  .teaser--group-inner:hover .teaser--group-text.is-grundskole {
    background: #901d7c; }
  .teaser--group-inner:hover .teaser--group-text.is-ungdomsuddannelse {
    background: #ff6800; }
  .teaser--group-inner:hover .teaser--group-text.is-course {
    background: #edd71c; }
  .teaser--group-text {
    height: 90px; }
    .teaser--group-text.is-dagtilbud {
      background: rgba(164, 218, 32, 0.7); }
    .teaser--group-text.is-grundskole {
      background: rgba(144, 29, 124, 0.7); }
    .teaser--group-text.is-ungdomsuddannelse {
      background: rgba(255, 104, 0, 0.7); }
    .teaser--group-text.is-course {
      background: rgba(237, 215, 28, 0.7); }
    .teaser--group-text-inner {
      position: relative;
      top: 70%;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .teaser--group-field img {
    width: 100%; }

/* Teaser representing a content element. */
.teaser--content {
  margin-bottom: 15px;
  height: 160px;
  width: 100%; }
  @media only screen and (min-width: 450px) {
    .teaser--content {
      width: 50%; } }
  @media only screen and (min-width: 800px) {
    .teaser--content {
      width: 25%; } }
  .teaser--content-inner:link {
    color: black;
    text-decoration: none; }
  .teaser--content-inner:visited {
    color: black;
    text-decoration: none; }
  .teaser--content-inner:hover {
    color: black;
    text-decoration: none; }
  .teaser--content-inner:focus {
    color: black;
    text-decoration: none; }
  .teaser--content-inner:hover .teaser--content-text.is-dagtilbud {
    background: #a4da20; }
  .teaser--content-inner:hover .teaser--content-text.is-grundskole {
    background: #901d7c; }
  .teaser--content-inner:hover .teaser--content-text.is-ungdomsuddannelse {
    background: #ff6800; }
  .teaser--content-inner:hover .teaser--content-text.is-course {
    background: #edd71c; }
  .teaser--content-field {
    height: 100%; }
  .teaser--content-text {
    background: rgba(255, 255, 255, 0.7);
    border-bottom: solid;
    border-width: 4px;
    padding-top: .8em; }
    .teaser--content-text.is-dagtilbud {
      border-color: #a4da20; }
    .teaser--content-text.is-grundskole {
      border-color: #901d7c; }
    .teaser--content-text.is-ungdomsuddannelse {
      border-color: #ff6800; }
    .teaser--content-text.is-course {
      border-color: #edd71c; }
    .teaser--content-text-inner {
      position: relative; }

/**
 * Block module.
 *
 * Contains general block styles.
 *
 */
/**
 *
 * Block
 *
 * Display of block.
 *
 */
/* Placholders, variables and mixins related to this document only.
================================================================================================================== */
.block--dark, .block--light {
  margin-bottom: 15px; }
  .block--dark:last-child, .block--light:last-child {
    margin-bottom: 0; }

/* Styles.
================================================================================================================== */
.block--header {
  font-weight: bold;
  margin: 0;
  padding: 20px 15px; }

.block--content {
  padding: 0 15px 20px 15px; }

.block--field-wrapper {
  border-bottom: 1px solid #fff;
  margin-bottom: 7.5px;
  padding-bottom: 7.5px; }
  .block--field-wrapper:last-child {
    border: 0;
    margin-bottom: 0; }
  .block--field-wrapper.is-inline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    .block--field-wrapper.is-inline .block--field-label,
    .block--field-wrapper.is-inline .block--field-text {
      width: 50%; }

.block--field-label {
  font-weight: bold;
  margin-bottom: 3.75px; }

.block--field-text {
  margin-bottom: 7.5px; }

/* Block types */
.block--dark {
  background: #17858c;
  color: #fff; }
  .block--dark a:link {
    color: #fff;
    text-decoration: underline; }
  .block--dark a:visited {
    color: #fff;
    text-decoration: underline; }
  .block--dark a:hover {
    color: #fff;
    text-decoration: underline; }
  .block--dark a:focus {
    color: #fff;
    text-decoration: underline; }

.block--light {
  background: #deeced;
  margin-bottom: 15px; }
  .block--light a:link {
    color: #17858c;
    text-decoration: underline; }
  .block--light a:visited {
    color: #17858c;
    text-decoration: underline; }
  .block--light a:hover {
    color: #17858c;
    text-decoration: underline; }
  .block--light a:focus {
    color: #17858c;
    text-decoration: underline; }

/* --------------------------------- OLD STYLES
.block-module {
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

.block-module--wrapper {
  margin-bottom: 2em;
  overflow: hidden;

  @include global-layout-content();
  @include global-grid-padding-override();

  // Override padding bottom
  padding-bottom: 0;

  &.is-last {
    margin-bottom: 0;
  }
}


.block-module--header {
  margin-bottom: 0;
  padding: .75em 1em .5em;

  border: 1px solid $gray-lighter;
  background: $gray-lightest;
  font-size: 1.5em;

  @include box-sizing(border-box);

  @include breakpoint(45em) {
    @include border-radius($border-radius/2 $border-radius/2 0 0);
  }
}

.block-module--content {
  padding: $layout-padding;

  background: $white;

  @include border-radius(0 0 $border-radius/2 $border-radius/2);
}

.block-module--field-wrapper {
  border-bottom: $separator;
  margin-bottom: $margin-bottom;
  overflow: hidden;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.block-module--field-label {
  font-weight: bold;
}

.block-module--field-text {
  margin-bottom: $margin-bottom;
}



.block-module--content-element-wrapper {
  border-bottom: $separator;
  margin-bottom: $margin-bottom;
  padding-bottom: $padding-bottom;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}



.block--list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.block--list-item {
  padding-top: .25em;
  padding-bottom: .25em;

  &:before {
    @extend %icon-check;
    @extend %icon-before;
  }
}


*/
/**
 * Block inline module.
 *
 * Contains general inline block styles.
 *
 * @author Martin Yde.
 */
.block-inline-module:last-child {
  margin-bottom: 0; }

.block-inline-module--field-label {
  float: left;
  width: 50%; }

.block-inline-module--field-text {
  color: #666;
  float: left;
  width: 50%; }

/**
 * Field collection module
 *
 * Contains general field collection styles.
 *
 * @author Martin Yde.
 */
.field-collection-module--contact-name,
.field-collection-module--contact-email,
.field-collection-module--contact-phone {
  float: left;
  overflow: hidden;
  width: 100%; }

.field-collection-module--description {
  font-weight: bold; }

.field-collection-module--value {
  margin-bottom: 1em; }
  .field-collection-module--value:last-child {
    margin-bottom: 0; }

.field-collection-module--file,
.field-collection-module--link,
.field-collection-module--litt,
.field-collection-module--description {
  margin-bottom: 0.4em; }

/**
 * Nav module
 *
 * Contains styles related to the navigation bar.
 *
 */
.nav--list-dropdown-item, .nav--list-item {
  display: inline-block;
  height: 100%; }

.nav--list-dropdown-link, .nav--list-link {
  display: block;
  font-weight: bold;
  line-height: 40px;
  padding: 0 15px;
  vertical-align: middle;
  text-transform: uppercase; }
  .nav--list-dropdown-link:link, .nav--list-link:link {
    color: #fff;
    text-decoration: none; }
  .nav--list-dropdown-link:visited, .nav--list-link:visited {
    color: #fff;
    text-decoration: none; }
  .nav--list-dropdown-link:hover, .nav--list-link:hover {
    color: #fff;
    text-decoration: none; }
  .nav--list-dropdown-link:focus, .nav--list-link:focus {
    color: #fff;
    text-decoration: none; }

/* Styles
   ========================================================================== */
.nav {
  background: #4d4d4d; }
  .nav--inner {
    box-sizing: border-box;
    height: 40px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin: 0 auto;
    max-width: 75em;
    position: relative;
    width: 100%; }
  .nav--dropdown-item {
    display: none; }
  .nav--list-dropdown-link:hover, .nav--list-link:hover {
    background: gray; }
  .nav--list-dropdown-link.is-daycare:hover, .nav--list-link.is-daycare:hover {
    background: #a4da20; }
  .nav--list-dropdown-link.is-school:hover, .nav--list-link.is-school:hover {
    background: #901d7c; }
  .nav--list-dropdown-link.is-youth:hover, .nav--list-link.is-youth:hover {
    background: #ff6800; }
  .nav--list-dropdown-link.is-course:hover, .nav--list-link.is-course:hover {
    background: #edd71c; }

/* Mobile navigation
 *
 * Nesting once for all list items on mobile device.
 *  ================================================================================================================== */
.nav--mobile {
  top: 0; }
  .nav--mobile .nav--list-dropdown-item, .nav--mobile .nav--list-item {
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%; }
    .nav--mobile .nav--list-dropdown-item:last-child, .nav--mobile .nav--list-item:last-child {
      border-bottom: 0; }
  .nav--mobile .nav--list-dropdown-link:hover, .nav--mobile .nav--list-link:hover {
    background: none; }

/**
 * Header search module
 *
 * Contains styling for header search module
 */
.header-search-module {
  max-width: 100%;
  min-height: 9.5em;
  overflow: hidden;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-backface-visibility: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .header-search-module.is-hidden {
    min-height: 0;
    max-height: 0; }
  .header-search-module.is-visible {
    min-height: 9.5em;
    -moz-transition: min-height 250ms ease-out 0.25s;
    -o-transition: min-height 250ms ease-out 0.25s;
    -webkit-transition: min-height 250ms ease-out;
    -webkit-transition-delay: 0.25s;
    transition: min-height 250ms ease-out 0.25s; }
  @media only screen and (min-width: 28em) {
    .header-search-module {
      -moz-border-radius: 0 0 0.6em 0.6em;
      -webkit-border-radius: 0;
      border-radius: 0 0 0.6em 0.6em; }
      .header-search-module.is-visible {
        height: 3em; } }
  @media only screen and (min-width: 45em) {
    .header-search-module {
      position: absolute;
      top: 1.5em;
      right: 15px;
      overflow: visible;
      padding-right: 0;
      padding-left: 0;
      width: 50%; } }
  .header-search-module .form-search {
    margin-bottom: .75em;
    padding-top: 1em;
    padding-right: 1.25em;
    padding-bottom: .75em;
    padding-left: 3.25em;
    height: 55px;
    background: #fff url("../images/icon-search-transparent.png") no-repeat 1em center; }
    .header-search-module .form-search:focus {
      outline: none; }
    @media only screen and (min-width: 28em) {
      .header-search-module .form-search .form-search {
        padding-right: 6em;
        width: 90%;
        -moz-border-radius: 0.6em 0 0 0.6em;
        -webkit-border-radius: 0.6em;
        border-radius: 0.6em 0 0 0.6em; } }

.header-search-module--inner, .search-module--form {
  position: relative; }

.header-search-module--submit, .search-module--submit {
  height: 55px;
  width: 100%; }
  @media only screen and (min-width: 28em) {
    .header-search-module--submit, .search-module--submit {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-top: .35em;
      padding-bottom: .35em;
      width: auto;
      font-size: 125%;
      -moz-border-radius: 0 0.6em 0.6em 0;
      -webkit-border-radius: 0;
      border-radius: 0 0.6em 0.6em 0; } }

/**
 * Page module
 */
.page-wrapper {
  width: 100%; }
  .page-wrapper.is-moved-left .page-inner {
    -moz-transform: translate3d(76%, 0, 0);
    -ms-transform: translate3d(76%, 0, 0);
    -webkit-transform: translate3d(76%, 0, 0);
    transform: translate3d(76%, 0, 0); }

.page-inner {
  position: relative;
  min-height: 100%;
  width: 100%;
  -moz-transition: -moz-transform 500ms ease 0s;
  -o-transition: -o-transform 500ms ease 0s;
  -webkit-transition: -webkit-transform 500ms ease;
  -webkit-transition-delay: 0s;
  transition: transform 500ms ease 0s; }

.page-content {
  padding: 1.5em 1.25em;
  background-color: #fff; }
  @media only screen and (min-width: 45em) {
    .page-content {
      -moz-border-radius: 0.6em;
      -webkit-border-radius: 0.6em;
      border-radius: 0.6em; } }

.page-content--header {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px #e6e6e6 dashed; }

.page-title {
  margin-bottom: .5em;
  color: #333; }

/**
 *
 * Tag
 *
 */
.field-module--tags-item {
  display: inline-block;
  margin-bottom: .25em;
  padding: .1em 1em;
  background-color: #edd71c;
  color: #fff;
  cursor: pointer;
  font-size: 85%;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em; }
  .field-module--tags-item:link, .field-module--tags-item:visited, .field-module--tags-item:hover, .field-module--tags-item:active {
    color: #fff;
    text-decoration: none; }
  .field-module--tags-item:hover {
    background-color: #af9e0e; }

/**
 * Twitter typeahead
 *
 * http://twitter.github.io/typeahead.js/
 *
 */
.typeahead-block {
  position: relative;
  margin-top: -1em; }
  .typeahead-block .form-item {
    border: 0;
    margin-bottom: 0;
    padding: 0; }
  @media only screen and (min-width: 75em) {
    .typeahead-block {
      -moz-border-radius: 0 0 0.6em 0.6em;
      -webkit-border-radius: 0;
      border-radius: 0 0 0.6em 0.6em; } }

.typeahead-block--wrapper {
  position: relative; }
  .typeahead-block--wrapper .tt-hint,
  .typeahead-block--wrapper .typeahead {
    margin-bottom: 1em;
    padding-top: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 3em;
    height: 65px;
    background-color: #fff; }
    .typeahead-block--wrapper .tt-hint:focus,
    .typeahead-block--wrapper .typeahead:focus {
      outline: none; }
    @media only screen and (min-width: 45em) {
      .typeahead-block--wrapper .tt-hint,
      .typeahead-block--wrapper .typeahead {
        margin-bottom: 0;
        padding-right: 6em;
        width: 90%;
        -moz-border-radius: 0.6em 0 0 0.6em;
        -webkit-border-radius: 0.6em;
        border-radius: 0.6em 0 0 0.6em; } }

.typeahead-block--icon {
  position: absolute;
  top: 1.2em;
  left: .35em;
  color: #999999;
  font-size: 200%;
  z-index: 1; }

.twitter-typeahead {
  display: block !important;
  background-color: #fff;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em; }

/* Suggestions
   ========================================================================== */
.tt-dropdown-menu {
  position: absolute;
  z-index: 90;
  border: 1px solid gray;
  margin-top: .5em;
  padding: 1em;
  width: 100%;
  background-color: #fff;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 45em) {
    .tt-dropdown-menu {
      top: 7.5em; } }

.tt-suggestion-header {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1em;
  padding-bottom: 1em;
  font-size: 110%;
  font-weight: bold; }

.tt-suggestion {
  border-bottom: 1px solid #e6e6e6;
  color: #269eD9;
  cursor: pointer;
  display: block;
  margin-bottom: 1em;
  padding-bottom: 1em; }
  .tt-suggestion:link, .tt-suggestion:visited {
    text-decoration: none; }
  .tt-suggestion:hover, .tt-suggestion:active {
    text-decoration: underline; }
  .tt-suggestion:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0; }

/**
 *
 * Itk tabs
 *
 * A component for displaying an expanding side menu.
 *
 */
/* Imports, placeholder classes, mixins and variables related to this document.
   ========================================================================== */
/* Variables used within this document. */
/* Menu positioning */
/* Animations related to this document.
   ========================================================================== */
@-moz-keyframes toggle-nav-open {
  0% {
    left: -20em; }
  100% {
    left: 0; } }
@-webkit-keyframes toggle-nav-open {
  0% {
    left: -20em; }
  100% {
    left: 0; } }
@keyframes toggle-nav-open {
  0% {
    left: -20em; }
  100% {
    left: 0; } }
@-moz-keyframes toggle-nav-close {
  0% {
    left: 0; }
  100% {
    left: -20em; } }
@-webkit-keyframes toggle-nav-close {
  0% {
    left: 0; }
  100% {
    left: -20em; } }
@keyframes toggle-nav-close {
  0% {
    left: 0; }
  100% {
    left: -20em; } }
@-moz-keyframes toggle-nav-overlay {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.65); } }
@-webkit-keyframes toggle-nav-overlay {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.65); } }
@keyframes toggle-nav-overlay {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.65); } }
/* Styles
   ========================================================================== */
.nav--mobile {
  color: #fff;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  left: -20em;
  z-index: 99;
  max-width: 90%;
  width: 20em;
  background: #4d4d4d;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);
  /* States */ }
  .is-visible.nav--mobile {
    -moz-animation: toggle-nav-open 0.75s ease 1 forwards;
    -webkit-animation: toggle-nav-open 0.75s ease 1 forwards;
    animation: toggle-nav-open 0.75s ease 1 forwards; }
  .is-hidden.nav--mobile {
    -moz-animation: toggle-nav-close 0.75s ease 1 forwards;
    -webkit-animation: toggle-nav-close 0.75s ease 1 forwards;
    animation: toggle-nav-close 0.75s ease 1 forwards; }

/* Invisible close element that allows the user to close the menu by clicking outside it */
.nav--overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
  cursor: pointer; }
  .is-visible.nav--overlay {
    display: block;
    width: 100%;
    -moz-animation: toggle-nav-overlay 0.75s linear 1 forwards;
    -webkit-animation: toggle-nav-overlay 0.75s linear 1 forwards;
    animation: toggle-nav-overlay 0.75s linear 1 forwards; }

/* Make sure the user can't scroll when overlays are active */
html.is-locked,
html.is-locked body {
  overflow: hidden;
  height: 100%; }

@media print {
  body {
    color: #000;
    background: #fff;
    font-size: 12px; }

  a:link,
  a:visited {
    color: #000;
    text-decoration: none; }

  header, nav, aside, img {
    display: none; }

  h1 {
    padding: 1em 0; }

  h2, h3 {
    color: #000;
    page-break-after: avoid; }

  .field-module--text, .field-module--image, .field-module--teaser,
  .field-module--purpose {
    page-break-before: avoid; }

  .layout-element-alpha,
  .layout-element-gamma,
  .layout-element-epsilon {
    page-break-inside: avoid; }

  h2.block-module--header {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.75em; }

  .field-module--author,
  .field-module--author--value,
  .block-inline-module--field-text {
    color: #000; }

  .layout-element-alpha,
  .layout-element-beta,
  .layout-element-delta,
  .layout-element-epsilon {
    border-bottom: 1px dashed #000; }

  .field-module--wrapper,
  .page-content {
    padding-top: 0;
    padding-bottom: 0; }

  .field-module--educational-material,
  .field-module--inspirational-material {
    border: 0;
    padding-left: 0;
    padding-right: 0; }

  .field-module--image {
    display: none; }

  .block-inline-module--field-wrapper,
  .field-module--text,
  .field-module--image,
  .field-module--teaser,
  .field-module--purpose,
  .block-module--field-wrapper {
    border-color: #b3b3b3; } }
