/**
 *
 * Pager
 *
 * The pager uses Drupals default html. Thus we nest to style elements within.
 * "We can't stop here. This is bat country!!"
 *
 */


/* Styles.
================================================================================================================== */

.pager {
  border-top: 1px dashed $gray-light;
  margin-top: 2em;
  padding-top: 2em;
  padding-left: 0;
  text-align: center;
  width: 100%;
}

.pagination {
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(center);

  li {
    @include flex(0 1 42px);

    cursor: pointer;
    margin: 4px;

    &:nth-child(2),
    &:nth-last-child(2) {
      @include flex(0 1 60px);
    }

    &:nth-child(1),
    &:nth-last-child(1) {
      @include flex(0 1 84px);
    }
  }

  a:link, a:visited, a:hover, a:focus,
  span {
    display: block;
    padding-top: .5em;
    padding-right: 1em;
    padding-bottom: .4em;
    padding-left: 1em;
    background-color: $gray-lighter;
    text-decoration: none;
    color: $gray-darkest;

    &:hover {
      background-color: darken($gray-lighter, 5%);
      text-decoration: none;
    }
  }

  .active {
    @include flexbox;

    background-color: $gray-light;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: darken($gray-light, 5%);
    }

    a:link, a:visited, a:hover, a:focus,
    span {
      color: $white;
      background-color: $gray-light;

      &:hover {
        background-color: $gray-light;
      }
    }
  }

  .disabled {
    background-color: $gray-lightest;
  }
  .disabled a:hover {
    cursor: default;
    text-decoration: none;
  }
}

// Hide invisible element completely.
.element-invisible {
  display: none;
}