/**
 * IE 9 specific styles
 */



/* Page
 *
   ================================================================================================================== */

.page-wrapper {
  &.is-moved-left {
    .page-inner {
      left: 76%;
    }
  }
}


/* Mobile navigation
 *
   ================================================================================================================== */

.nav--mobile {
  left: -76%;
}

.teaser-module--youth,
.teaser-module--primary-school,
.teaser-module--daycare,
.teaser-module--promoted.is-odd,
.teaser-module--promoted.is-even {
  img {
    height: 255px;
    overflow: hidden;
    max-width: 100%;
  }
}

.teaser-module--text {
  background-color: #269eD9;

  a {
    color: #fff;
  }
}

img {
  max-width: none;
}