<!--
  Default view for the search box.

  You should not change this but point to another custom template in the
  configuration object.
-->
<div class="row collapse">
  <div class="small-10 columns">
    <span style="position: relative;display: inline-block; width: 100%">
      <!-- Hint (bg field) -->
      <input data-ng-model="autocompleteString" spellcheck="false" autocomplete="off" readonly=""
             style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: rgb(255, 255, 255) none repeat scroll 0% 0%;"
             type="text">

      <!-- Input field -->
      <input style="position: relative; vertical-align: top; background-color: transparent;"
             spellcheck="false" autocomplete="off" type="text" placeholder="Søg, f.eks. musik, kursus" data-code="13" data-key-code="searchClicked()" data-ng-model="query.text" data-ng-change='autocomplete()'>
    </span>
  </div>
  <div class="small-2 columns">
    <div class="button postfix" data-ng-click="searchClicked()">Søg</div>
  </div>

  <!--  intervals -->
  <div class="row" data-ng-repeat="interval in intervals">
    <div class="large-2 columns">
      {{interval}}
    </div>
    <div class="large-4 columns">
      <input type="text" data-ng-model="query.intervals[interval].from">
    </div>
    <div class="large-4 columns">
      <input type="text" data-ng-model="query.intervals[interval].to">
    </div>
  </div>

  <!--  dates -->
  <div class="row" data-ng-repeat="(id, date) in dates">
    <div class="large-2 columns">
      {{ date.label }}
    </div>
    <div class="large-4 columns">
      <input type="text" data-ng-model="query.dates[id].from">
    </div>
    <div class="large-4 columns">
      <input type="text" data-ng-model="query.dates[id].to">
    </div>
  </div>

  <!-- Filters -->
  <div class="large-6 columns" data-ng-repeat="(id, filter) in filters['taxonomy']">
    <label><strong>{{ filter.name }}</strong></label>
    <span data-ng-repeat="(key, item) in filter.items">
      <input id="{{ key }}" data-ng-disabled="!item.count" type="checkbox" data-ng-model="query.filters['taxonomy'][id][key]" data-ng-click="searchClicked()">
      <label data-ng-class="{ disabled: !item.count }" for="{{ key }}">{{ item.value }}</label>
    </span>
  </div>

  <!-- Boolean filters -->
  <div class="large-6 columns" data-ng-repeat="(id, field) in filters['boolean']">
    <input id="{{ id }}" data-ng-disabled="!field.count" type="checkbox" data-ng-model="query.filters['boolean'][id]" data-ng-click="searchClicked()">
    <label data-ng-class="{ disabled: !field.count }" for="{{ key }}">{{ field.name }}</label>
  </div>
</div>
