<!--
  Default view for the search box.

  You should not change this but point to another custom template in the
  configuration object.
-->
<div class="row collapse">
  <div class="small-10 columns">
    <input type="text" placeholder="Søg, f.eks. musik, kursus" data-code="13" data-key-code="searchClicked()" data-ng-model="query.text">
  </div>
  <div class="small-2 columns">
    <a href="#" class="button postfix" data-ng-click="searchClicked()">Søg</a>
  </div>

  <!--  intervals -->
  <div class="row" data-ng-repeat="interval in intervals">
    <div class="large-2 columns">
      {{interval}}
    </div>
    <div class="large-4 columns">
      <input type="text" data-ng-model="query.intervals[interval].from">
    </div>
    <div class="large-4 columns">
      <input type="text" data-ng-model="query.intervals[interval].to">
    </div>
  </div>

  <!-- Taxonomy filters -->
  <div class="large-6 columns" data-ng-repeat="(id, filter) in filters.taxonomy">
    <label><strong>{{ filter.name }}</strong></label>
    <span data-ng-repeat="(key, item) in filter.items">
      <input id="{{ key }}" data-ng-disabled="!item.count" type="checkbox" data-ng-model="query.filters['taxonomy'][id][key]" data-ng-click="searchClicked()">
      <label data-ng-class="{ disabled: !item.count }" for="{{ key }}">{{ item.value }}</label>
    </span>
  </div>

  <!-- Boolean filters -->
  <div class="large-6 columns" data-ng-repeat="(id, field) in filters.boolean">
    <input id="{{ id }}" data-ng-disabled="!field.count" type="checkbox" data-ng-model="query.filters['boolean'][id]" data-ng-click="searchClicked()">
    <label data-ng-class="{ disabled: !field.count }" for="{{ key }}">{{ field.name }}</label>
  </div>
</div>
