/**
 * Contains global placeholders for use across the site
 */



// Header used for content and teasers
%content--header {
  bottom: 0;
  box-sizing: border-box;
  font-size: 1.45em;
  padding: 0 .5em;
  position: absolute;
  width: 100%;
}