/**
 * Global patters.
 *
 * Contains global patterns for use across the site
 *
 */


/* Styles
   ========================================================================== */

// Header used for content and teasers
%content--header {
  bottom: 0;
  box-sizing: border-box;
  font-size: 1.45em;
  padding: 0 .5em;
  position: absolute;
  width: 100%;
}


// Header used for a group of content. (/news, /organizer)
%content--header-grouping {
  border-bottom: 1px solid $black;
  margin: $spacing $spacing/2 $spacing;
  width: 100%;
  text-transform: capitalize;
}


// Teaser styles
%teaser--list {
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(space-between);
}


%teaser--wrapper {
  @include flexbox;
  @include flex-flow(row nowrap);

  @include flex(0 1 100%);

  min-width: 0; // To allow image shrink.
  box-sizing: border-box;
  padding: $boxlist-padding;
  margin-bottom: 2em;

  border-bottom: solid;
  border-width: 6px;


  &.is-dagtilbud {
    background-color: transparentize($green, .9);
    border-color: $green;
  }

  &.is-grundskole {
    background-color: transparentize($purple, .9);
    border-color: $purple;
  }

  &.is-ungdomsuddannelse {
    background-color: transparentize($orange, .9);
    border-color: $orange;
  }

  &.is-course {
    background-color: transparentize($yellow, .9);
    border-color: $yellow;
  }

  @include breakpoint($node-breakpoint) {
    @include flex(0 1 49%);
  }

  header {
    @include order(2);
    @include flex(0 1 auto);

    padding: 0 $spacing $spacing;
    box-sizing: border-box;
  }

  figure {
    min-width: 0px; // To allow image shrink.

    @include order(1);
    @include flex(0 0 120px);
  }
}


// Elements of the teaser.
%teaser--header {
  margin-top: 0;
  margin-bottom: .5em;

  a {
    @include strip-link-styles();
  }
}

%teaser--type {
  color: transparentize($boxlist-font-color, .5);
}

%teaser--type-last-child {
  margin-bottom: 0;
}