/**
 * Buttons
 *
 * @author magnify
 */


%button {
  display: inline-block;
  font-size: 125%;
  padding: .5em 1.5em;
  position: relative;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  @include border-radius($border-radius);
}

.button {
  @extend %button;

  background-color: $blue-light;
  border: 1px solid $blue;
  color: $white;

  @include text-shadow(.025em .025em .1em darken($blue, 10%));

  &:hover {
    background-color: $blue;
  }
}

.button-yellow {
  @extend %button;

  background-color: $yellow-light;
  border: 1px solid $yellow;
  color: $white;

  @include text-shadow(.025em .025em .1em darken($yellow, 10%));

  &:hover {
    background-color: $yellow;
  }
}
