/**
 *
 * Pager
 *
 * The pager uses Drupals default html. Thus we nest to style elements within.
 * "We can't stop here. This is bat country!!"
 *
 */

/* Placholders, variables and mixins related to this document only.
================================================================================================================== */


/* Styles.
================================================================================================================== */

.pager {
  border-top: 1px dashed $gray-light;
  margin-top: 2em;
  padding-top: 2em;
  padding-left: 0;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    margin-left: -4px;
    margin-right: 1em;
  }

  .pager-current,
  a {
    display: inline-block;
    padding-top: .5em;
    padding-right: 1em;
    padding-bottom: .4em;
    padding-left: 1em;

    background-color: $gray-lighter;
    text-decoration: none;

    &:hover {
      background-color: darken($gray-lighter, 5%);
      text-decoration: none;
    }
  }

  .pager-current {
    background-color: $gray-light;
    color: $white;

    &:hover {
      background-color: darken($gray-light, 5%);
    }
  }

  .disabled {
    background-color: $gray-lightest;
  }
  .disabled a:hover {
    cursor: default;
    text-decoration: none;
  }
}