@media print {
  // Default display.
  body {
    color: #000;
    background: #fff;
    font-size: 12px;
  }
  a:link,
  a:visited  {
    color: #000;
    text-decoration: none;
  }

  // Basic elements that we dont want printed.
  header, nav, aside, img {
    display: none;
  }

  h1 {
    padding: 1em 0;
  }

  // Some elements should be printed on same page (They are related).
  h2, h3 {
    color: #000;
    page-break-after: avoid;
  }

  .field-module--text {
    page-break-before: avoid;
  }

  .layout-element-alpha,
  .layout-element-gamma,
  .layout-element-epsilon {
    page-break-inside: avoid;
  }

  // Block heading is too large.
  h2.block-module--header {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.75em;
  }

  .field-module--author,
  .field-module--author--value,
  .block-inline-module--field-text {
    color: #000;
  }

  // Layout element margin is not needed.
  .layout-element-alpha,
  .layout-element-beta,
  .layout-element-delta,
  .layout-element-epsilon {
    border-bottom: 1px dashed #000;
  }

  // Field wrapper elements padding is not needed.
  .field-module--wrapper,
  .page-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  // Materials padding shouldnt be displayed as a bordered box.
  .field-module--educational-material,
  .field-module--inspirational-material {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }

  // Image is gone so we dont want the extra wrapper.
  .field-module--image {
    display: none;
  }

  // Field text padding is not needed.
  .field-module--text {
    //padding-bottom: 0;
  }

  // Make the field border more visible.
  .block-inline-module--field-wrapper,
  .field-module--text,
  .block-module--field-wrapper {
    border-color: $gray-light;
  }
}
