/**
 *
 * Buttons
 *
 * Display of buttons on the site.
 *
 */


/* Placeholders, variables and mixins related to this document only. @todo cleanup.
================================================================================================================== */


/* Styles.
================================================================================================================== */

.button {
  position: relative;

  border: 1px solid $dark-blue;
  display: inline-block;
  padding: .5em 1.5em;

  background-color: $dark-blue;
  color: $white;
  cursor: pointer;
  font-size: 125%;
  text-align: center;
  vertical-align: middle;

  @include text-shadow(.025em .025em .1em darken($dark-blue, 10%));

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    background-color: $dark-blue;
  }

  @include border-radius($border-radius);
}
