/**
 *
 * Content module.
 *
 * Contains styles related to content (Ie. Nodes, course providers)
 *
 */


/* Styles
================================================================================================================== */

.content {
  margin: 0 $spacing / 2;
  width: 100%;

  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(space-between);

  &--image {
    margin-bottom: $spacing * 2;
    min-height: 120px;
    position: relative;
    width: 100%;
  }


  &--meta {
    width: 100%;

    @include breakpoint($node-breakpoint) {
      width: 35%;
    }
  }

  &--empty {
    margin: 0 $spacing / 2;
  }


  &--header-grouping {
    @extend %content--header-grouping;
  }


  // Newsletter archive page.
  &--newsletter-archive {
    .display_archive {
      margin: $spacing $spacing/2 $spacing * 2;
    }

    .campaign {
      margin-bottom: $spacing / 2;
    }
  }


  &--main {
    width: 100%;

    @include breakpoint($node-breakpoint) {
      width: 60%;
    }

    // Display of html elements inside main content. (Through Wysiwyg)

    h2:not(.block--field-label) {
      font-size: 1.2em;
      font-weight: bold;
    }

    h3 {
      font-size: 1.1em;
      font-weight: bold;
    }

    ul {
      list-style-type: disc;
      padding-left: $spacing;
    }

    ol {
      padding-left: 20px;
    }

    blockquote {
      position: relative;

      box-sizing: border-box;
      margin: 1em 0;
      padding: 2em 2em 1em;

      background-color: $gray-lightest;

      :before {
        content: '"';
        position: absolute;
        font-size: 3em;
        top: 0;
        left: .3em;
      }
    }
  }
}