.example--wrapper {
  background: white;
  max-width: 1000px;
  margin: 0 auto;
}

.a {
  background: red;
  margin-bottom: 1em;

  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(space-between);
}

.b {
  background: blue;
  margin-bottom: 1em;
  min-width: 0;

  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(space-between);

  @include flex(0 1 33%);
}

.c {
  background: black;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1em;
  min-width: 0;
  padding: .5em;

  @include flex(0 1 33%);
}