/**
 * Forms
 *
 * @author magnify
 */


/* Basic styling
   ================================================================================================================== */

input,
textarea {
  font: $font;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid $gray-lighter;
  display: block;
  min-height: 1.25em;
  width: 100%;
  padding: .75em;

  color: $gray-darker;
  background-color: darken($white, 2%);

  &:focus {
    border: 1px solid $gray-dark;

    color: $gray-darkest;
  }

  &[disabled] {
    @include box-shadow(0 0 0);

    border: 1px solid $gray-light;

    background-color: lighten($gray-light, 5%);
  }

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}


/* Labels
   ================================================================================================================== */

label {
  display: block;
  margin-bottom: .25em;

  /* Move labels so they align better with fields when using rounded corners */
  margin-left: .2em;

  color: $gray-dark;
}

/* Form elements
 *
 * Based on Drupal's form markup, guidelines are not used
 *
   ================================================================================================================== */

%form-wrapper {
  margin-bottom: $margin-bottom;
}

%form-item {
  padding: 0.5em;
}

%form-item-description {
  padding-top: .5em;

  color: $gray;
}

%form-required {
  color: $red;
}

%form-select {
  border: 1px solid $gray-lighter;
  padding: .75em;
  width: 100%;

  /* Set height for chrome */
  height: 3em;

  background-color: darken($white, 2%);

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}

%form-textarea {
  height: 6em;
}

%form-type-checkbox {
  overflow: hidden;
  line-height: 1em;
  margin: 0;
  padding: 0.5em;

  .form-checkbox {
    float: left;
    margin-right: 1em;
    vertical-align: middle;

  }
}

%form-submit {
  @extend .button;

  width: 100%;
}

// Use this wrapper to fall back to drupals default form
.is-default-form {
  .form-wrapper {
    @extend %form-wrapper;
  }

  .form-item {
    @extend %form-item;
  }

  .form-item-description {
    @extend %form-item-description;
  }

  .form-required {
    @extend %form-required;
  }

  .form-select {
    @extend %form-select;
  }

  .form-textarea {
    @extend %form-textarea;
  }

  .form-type-checkbox {
    @extend %form-type-checkbox;
  }

  .form-submit {
    @extend %form-submit;
  }
}


/* Node form
   ================================================================================================================== */

// No class for multiselect dropdowns
.field-name-field-subjects,
.field-name-field-subject {
  .form-select {
    /* Set height for chrome */
    height: 10em;
  }
}

// Field image dont want the table head taking space
.field-name-field-image thead {
  display: none;
}

// The field collection table should be full width
.field-multiple-table {
  width: 100%;
}

// A bit of padding inside the vertical tabs
.vertical-tabs-panes {
  padding: 1em 1em 1em 0;
}

// Some fields need to be inline;
.container-inline-date {
  clear: none;
  float: left;
  width: 100%;

  @include breakpoint(40em) {
    clear: none;
    float: left;
    width: 50%;
  }
}

.field-name-field-price,
.field-name-field-unit-price,
.field-name-field-duration,
.field-name-field-duration-unit {
  width: 100%;

  @include breakpoint(75em) {
    clear: none;
    float: left;
    width: 50%;
  }
}

// The inner layout elements are represented by white background.

.field-name-field-educational-material,
.field-name-field-inspirational-material,
.fieldset-wrapper {
  background: $white;
  padding: 1em;

  @include border-radius($border-radius);
}

// Only way to style legend
legend {
  a {
    font-size: 1.5em;

    &:link {
      color: $gray-darkest;
    }
  }
}

// Tables in forms are most likely always a multifield.
.node--form thead label {
  color: $gray-darkest;
  text-align: left;
  font-weight: normal;
  font-size: 1.5em;
}

// In multi value fields we use a light background to represent each item.

.node--form tbody tr {
  background: $gray-lightest;
  background: $gray-lightest;
  margin-bottom: $margin-bottom;
  padding: 1em;
  display: block;
}

// We only want multiple drag on images.
.tabledrag-toggle-weight-wrapper,
.field-multiple-drag {
  display: none;
}

// Core adds styles we want to override.
.node--form .vertical-tabs ul.vertical-tabs-list,
.node--form .vertical-tabs {
  margin: 0;
  width: 100%;

  @include breakpoint(50em) {
    margin: auto;
    width: auto;
  }
}

.node--form .vertical-tabs-processed {
  border: 1px solid $gray-lighter;
  float: left;

  @include breakpoint(50em) {
    border: 0;
    float: none;
  }
}

.node--form {
  .form-submit {
    margin: 1em 1em 1em 0;
  }
}

/* Anonymous user forms
   ================================================================================================================== */

.form-module--user-login {
  position: relative;

  .form-item {
    margin-bottom: 1em;
  }
}

.form-module--user-submit {
  @extend .button;
}