/**
 * Header search module
 *
 * Contains styling for header search module
 */



.header-search-module {
  max-width: 100%;
  min-height: 9.5em;
  overflow: hidden;
  padding-right: $zen-gutter-width / 2;
  padding-left: $zen-gutter-width / 2;

  &.is-hidden {
    min-height: 0;
    max-height: 0;
  }

  &.is-visible {
    min-height: 9.5em;

    @include transition(min-height 250ms ease-out .25s);
  }

  -webkit-backface-visibility: hidden;

  @include box-sizing(border-box);

  @include breakpoint($breakpoint-3) {
    &.is-visible {
      height: 3em;
    }

    @include border-radius(0 0 $border-radius $border-radius);
  }

  @include breakpoint(45em) {
    position: absolute;
    top: 1.5em;
    right: $zen-gutter-width / 2;

    overflow: visible;
    padding-right: 0;
    padding-left: 0;
    width: 50%;
  }

  .form-search {
    margin-bottom: .75em;
    padding-top: 1em;
    padding-right: 1.25em;
    padding-bottom: .75em;
    padding-left: 3.25em;
    height: 55px;

    background: $white url("../images/icon-search-transparent.png") no-repeat 1em center;

    // Removing the browsers outline border when field is in focus
    &:focus {
      outline: none;
    }

    @include breakpoint($breakpoint-3) {
      .form-search {
        padding-right: 6em;
        width: 90%;

        @include border-radius($border-radius 0 0 $border-radius);
      }
    }
  }
}

.header-search-module--inner {
  position: relative;
}

.header-search-module--submit {
  @extend .button;

  height: 55px;
  width: 100%;

  @include breakpoint($breakpoint-3) {
    position: absolute;
    bottom: 0;
    right: 0;

    padding-top: .35em;
    padding-bottom: .35em;
    width: auto;

    font-size: 125%;

    @include border-radius(0 $border-radius $border-radius 0);
  }
}
