/**
 *
 * Nav module.
 *
 * Contains styles related to the navigation bar.
 *
 */


/* Placeholders, variables and mixins related to this document only.
================================================================================================================== */

%nav--list-item {
  display: inline-block;
  height: 100%;
}


%nav--list-link {
  display: block;
  font-weight: bold;
  line-height: 40px;
  padding:  0 $spacing;
  vertical-align: middle;
  text-transform: uppercase;

  @include strip-link-styles($white);
}


/* Styles
   ========================================================================== */

.nav {
  background: $gray-darkest;

  &--inner {
    box-sizing: border-box;
    height: 40px;
    padding-left: $spacing / 2;
    padding-right: $spacing / 2;
    margin: 0 auto;
    max-width: $layout-max-width;
    position: relative;
    width: 100%;
  }

  &--list-dropdown-item,
  &--list-item {
    @extend %nav--list-item;
  }

  &--dropdown-item {
    display: none;
  }

  &--list-dropdown-link,
  &--list-link {
    @extend %nav--list-link;

    &:hover {
      background: $gray-dark;
    }

    &.is-daycare:hover {
      @include background-set-color('green', $transparency: 1);
    }

    &.is-school:hover {
      @include background-set-color('purple', $transparency: 1);
    }

    &.is-youth:hover {
      @include background-set-color('orange', $transparency: 1);
    }

    &.is-course:hover {
      @include background-set-color('yellow', $transparency: 1);
    }
  }
}


/* Mobile navigation
 *
 * Nesting once for all list items on mobile device.
 *  ================================================================================================================== */

.nav--mobile {
  // Itk component.
  @extend %itk--menu;

  .nav--list-dropdown-item,
  .nav--list-item {
    border-bottom: 1px solid $white;
    display: block;
    width: 100%;

    &:last-child {
      border-bottom: 0;
    }
  }

  .nav--list-dropdown-link:hover,
  .nav--list-link:hover {
    background: none;
  }
}

.nav--overlay {
  @extend %itk--menu-nav-overlay;
}