/**
 *
 * Nav module.
 *
 * Contains styles related to the navigation bar.
 *
 */


/* Placeholders, variables and mixins related to this document only.
================================================================================================================== */

%nav--list-item {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: top;
}


%nav--list-link {
  display: block;
  font-weight: bold;
  line-height: 40px;
  padding:  0 $spacing;
  vertical-align: middle;
  text-transform: uppercase;

  @include strip-link-styles($white);
}


/* Styles
========================================================================== */

.nav {
  display: none;
  background: $gray-darkest;


  @include breakpoint(45em) {
    display: block;
  }

  &--inner {
    box-sizing: border-box;
    height: 40px;
    margin: 0 auto;
    max-width: $layout-max-width;
    position: relative;
    width: 100%;
  }

  &--list-dropdown-item,
  &--list-item {
    @extend %nav--list-item;
  }

  &--dropdown-item {
    display: none;
  }

  &--list-dropdown-link,
  &--list-link {
    @extend %nav--list-link;

    &.active {
      background: $gray-dark;
    }
    &:hover {
      background: $gray-darker;
    }
  }

  &--sub {
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;

    @include breakpoint(45em) {
      position: absolute;

      z-index: 2;
      right: 0;

      background: $white;

      &.is-hidden {
        display: none;
      }
    }
  }
}


/* Mobile navigation
 *
 * Nesting once for all list items on mobile device.
================================================================================================================== */

.nav--mobile {
  // Itk component.
  @extend %itk--menu;

  .nav--list-dropdown-item,
  .nav--list-item {
    border-bottom: 1px solid $white;
    width: 100%;

    &:last-child {
      border-bottom: 0;
    }
  }

  .nav--list-link {
    display: inline;
  }

  .nav--list-dropdown-link:hover,
  .nav--list-link:hover {
    background: none;
  }
}


.nav--overlay {
  @extend %itk--menu-nav-overlay;
}



/* Static pages menu
 *
 * Static pages menu displayed in main menu sub, mobile menu and on node pages.
================================================================================================================== */

.nav {
  & .nav--static-pages {
    box-sizing: border-box;
    min-width: 0;

    @include breakpoint(45em) {
      min-width: 240px;
    }
  }

  & .nav--static-pages-item {
    border-bottom: 1px solid $gray-lighter;
    margin: 0 1em;
    width: auto;

    a {
      @include strip-link-styles($gray);
      
      display: block;
      padding: 1em;

      &.active {
        font-weight: bold;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    
    &:last-child {
      border: 0;
    }
  }
}


// Reuse the main menu html but neest once to override styles.
.nav--mobile {
  &  .nav--list-link.active {
    background: inherit;
  }

  & .nav--sub {
    border-left: 0;
    border-right: 0;
  }

  & .nav--static-pages-item {
    border-top: 1px solid $white;
    padding: 1em;

    a {
      @include strip-link-styles($white);

      display: block;
      margin-left: 1em;

      &.active {
        font-weight: bold;
      }
    }
  }
}


.nav--static-pages.is-node {
  display: block;

  & .nav--static-pages-item {
    border-bottom: 1px solid $white;
    padding: .5em 0;
    font-weight: bold;

    &:last-child {
      border-bottom: 0;
    }

    a {
      @include strip-link-styles($dark-blue);
    }
  }
}
