/**
 *
 * Search facets
 *
 */



$search-facets-item-spacing-bottom: .5em;

.search-facets {
  @extend .block-module;

  display: none;

  @include breakpoint(45em) {
    display: block;
  }
}

.search-facets--group {
  border: 1px solid $border-color;
  margin-bottom: 2em;
  padding-bottom: $search-facets-item-spacing-bottom;
  padding-left: 1em;

  @include border-radius($border-radius);
}

.search-facets--header {
  padding-right: .5em;
  padding-left: .5em;

  font-size: 125%;
}

.search-facets--item {
  margin-bottom: $search-facets-item-spacing-bottom;
}

.search-facets--input {
  margin-right: .25em;
}

.search-facets--link {
  display: inline;

  color: $link-color;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

.search-facets--inactive-text {
  margin-bottom: $search-facets-item-spacing-bottom;

  color: $gray;
  text-align: center;
}



/* Search facets mobile
   ================================================================================================================== */

.search-facets-mobile--toggle-wrapper {
  @extend %global-element-spacing;

  margin-bottom: 0;
  padding-top: 2em;

  @include box-sizing(border-box);

  @include breakpoint(45em) {
    display: none;
  }
}

.search-facets-mobile--toggle {
  @extend .button-yellow;

  width: 100%;

  @include box-sizing(border-box);
}

.search-facets-mobile {
  display: none;

  &.is-visible {
    display: block;
  }
}
