/**
 *
 * Search module.
 *
 * Contains styles related to search widget and search results.
 *
 */


/* Styles
================================================================================================================== */

.search {

  // Widget display.
  &--widget {
    background: $gray-lightest;
    margin-bottom: $spacing;
    position: relative;
    z-index: 1;

    @include box-shadow(0 5px 5px transparentize($black, .75));

    &.is-daycare,
    &.is-daycare .search--filter-dropdown {
      @include background-set-color('green', $transparency: 1);
    }

    &.is-school,
    &.is-school .search--filter-dropdown {
      @include background-set-color('purple', $transparency: 1);

      color: $white;

      a {
        color: $white;
      }
    }

    &.is-youth,
    &.is-youth .search--filter-dropdown {
      @include background-set-color('orange', $transparency: 1);
    }

    &.is-course,
    &.is-course .search--filter-dropdown {
      @include background-set-color('yellow', $transparency: 1);
    }
  }

  &--widget-inner {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    z-index: 2;

    @include display-flex;
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);
    @include align-content(stretch);
  }

  &--lock-overlay {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    &.is-active {
      display: block;
    }
  }

  // Wrapper for each filter
  &--filter-wrapper {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    width: 100%;

    padding-bottom: 1px;
    padding-right: 1px;

    @include breakpoint(650px) {
      width: 50%;
    }

    @include breakpoint(1000px) {
      width: 33%;
    }

    // Splitting to three blocks per line, means we need the middle ones to take 1% extra for full width.
    &:nth-child(3),
    &:nth-child(6) {
     @include breakpoint(1000px) {
        width: 34%;
      }
    }

    &.is-active {
      z-index: 2;
    }
  }

  &--filter-wrapper-inner {
    // Display individual elements as flexboxes as well.
    @include align-content(stretch);
    @include display-flex;
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);

    background: rgba(0,0,0, .15);
    box-sizing: border-box;
    min-height: 5.5em;
  }



  /* Seperate Filter styling
  ================================================================================================================== */

  // The search string input filter
  &--filter-text {
    margin: 0 $spacing;
    position: relative;
    width: 100%;
  }

  &--filter-search-text[type="text"] {
    max-width: 63%;
    padding: .4em;
    position: absolute;

    @include vertical-center();
  }

  &--filter-search-submit[type="submit"] {
    @extend %button;

    padding: .1em 1.5em;
    max-width: 35%;
    position: absolute;
    right: 0;

    @include vertical-center();
  }



  // The span filter. Two text fields to span a value.
  &--filter-span {
    @include display-flex;
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);

    margin: 0 $spacing;

    &-wrapper {
      max-width: 49%;
    }

    &-text[type="text"] {
      padding: .4em;
    }
  }



  // Default list filter. Click label to open a list of selections
  &--filter-list {
    position: relative;
    width: 100%;
  }

  &--filter-label {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0IDIwbDEwIDEwIDEwLTEweiIvPjxwYXRoIGQ9Ik0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==') no-repeat right -10px;
    margin: 0 $spacing;
    position: absolute;
    left: 0;
    right: 0;

    @include vertical-center();

    display: block;
    font-size: 1.3em;

    @include strip-link-styles($black);
  }


  // The filter dropdown for filter lists.
  &--filter-dropdown {
    display: none;
    position: relative;
    width: 100%;
    z-index: 1;

    font-size: 1.3em;

    @include breakpoint(650px) {
      position: absolute;
    }

    &-inner {
      background: rgba(0,0,0, .15);
      height: 100%;
    }

    &.is-visible {
      display: block;
    }

    &-header {
      margin: 0 $spacing;
      padding: 28px 0 16px;;
      position: relative;
    }

    &-header-close {
      position: absolute;
      right: 0;

      width: 25px;
      height: 25px;
    }

    &-content {
      font-size: .9em;
      margin: 0 $spacing;
    }

    &-submit {
      @extend %button;

      display: block;
      margin: $spacing;
      font-size: .9em;
      padding: .1em 2em;

      @include strip-link-styles($white);
    }

    input[type="checkbox"] {
      margin-bottom: $spacing;
      margin-right: $spacing / 2;
    }
  }



  /* Extra search (Mobile show/hide, selected facets)
  ================================================================================================================== */

  // Mobile show/hide
  &--widget-filters {
    background: $gray-lightest;
    position: relative;
    z-index: 1;

    @include breakpoint(650px) {
      display: none;
    }
  }

  &--widget-filters-inner {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $layout-max-width;
    padding: $spacing $spacing / 2;
    text-align: center;
  }


  // Selected facets
  &--widget-selected {
    background: $gray-lighter;
    position: relative;
    z-index: 1;
  }

  &--widget-selected-inner {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $layout-max-width;
    padding: $spacing $spacing / 2;
  }

  &--widget-selected-item {
    @extend %button;

    background: $dark-blue url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTZweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7ZmlsbDojZmZmOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjE2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik00MzcuNSwzODYuNkwzMDYuOSwyNTZsMTMwLjYtMTMwLjZjMTQuMS0xNC4xLDE0LjEtMzYuOCwwLTUwLjljLTE0LjEtMTQuMS0zNi44LTE0LjEtNTAuOSwwTDI1NiwyMDUuMUwxMjUuNCw3NC41ICBjLTE0LjEtMTQuMS0zNi44LTE0LjEtNTAuOSwwYy0xNC4xLDE0LjEtMTQuMSwzNi44LDAsNTAuOUwyMDUuMSwyNTZMNzQuNSwzODYuNmMtMTQuMSwxNC4xLTE0LjEsMzYuOCwwLDUwLjkgIGMxNC4xLDE0LjEsMzYuOCwxNC4xLDUwLjksMEwyNTYsMzA2LjlsMTMwLjYsMTMwLjZjMTQuMSwxNC4xLDM2LjgsMTQuMSw1MC45LDBDNDUxLjUsNDIzLjQsNDUxLjUsNDAwLjYsNDM3LjUsMzg2LjZ6Ii8+PC9zdmc+) no-repeat 95% center;
    font-size: .9em;
    padding: .1em 3em .1em 2em;
    margin-bottom: 4px;

    @include strip-link-styles($white);
  }
}


  /* Display search results.
  ================================================================================================================== */

.search-results-header {
  margin-bottom: 2em;
  padding-top: 1em;
}

.search-results {
  margin: 0 $spacing / 2 2em;

  &--result {
    @extend %teaser--wrapper;
  }

  &--header {
    @extend %teaser--header;
  }

  &--type {
    @extend %teaser--type;
  }

  &--type:last-child {
    @extend %teaser--type-last-child;
  }
}

// Show 2 columns side by side
.search-results.is-side-by-side {
  // Stack until there is enough space to display them side by side
  @media only screen and (min-width: 60em) {
    @include display-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-between);

    .search-results--result {
      margin-bottom: 1em;
      max-width: 49%;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

