/**
 * Twitter typeahead
 *
 * http://twitter.github.io/typeahead.js/
 *
 */


.typeahead-block {
  // @extend %set-max-width-and-center-element;
  // @extend %basic-element-styling;

  position: relative;

  // Compensate for margin from header (necessary when not logged in)
  margin-top: -$margin-bottom;

  // Override Drupal's classes.
  .form-item {
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }

  @include breakpoint($layout-max-width) {
    @include border-radius(0 0 $border-radius $border-radius);
  }
}

.typeahead-block--wrapper {
  position: relative;

  .tt-hint,
  .typeahead {
    margin-bottom: 1em;
    padding-top: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 3em;
    height: 65px;

    background-color: $white;

    // Removing the browsers outline border when field is in focus
    &:focus {
      outline: none;
    }

    @include breakpoint(45em) {
      margin-bottom: 0;
      padding-right: 6em;
      width: 90%;

      @include border-radius($border-radius 0 0 $border-radius);
    }
  }
}

.typeahead-block--icon {
  position: absolute;
  top: 1.2em;
  left: .35em;

  color: $gray;
  font-size: 200%;

  z-index: 1;
}

.twitter-typeahead {
  display: block !important;

  background-color: $white;

  @include border-radius($border-radius);
}


/* Suggestions
   ========================================================================== */

.tt-dropdown-menu {
  position: absolute;
  z-index: 90;

  border: 1px solid $gray-dark;
  margin-top: .5em;
  padding: 1em;
  width: 100%;

  background-color: $white;

  @include border-radius($border-radius);
  @include box-sizing(border-box);

  @include breakpoint(45em) {
    top: 7.5em;
  }
}


.tt-suggestion-header {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1em;
  padding-bottom: 1em;

  font-size: 110%;
  font-weight: bold;
}

.tt-suggestion {
  border-bottom: 1px solid $border-color;
  color: $link-color;
  cursor: pointer;
  display: block;
  margin-bottom: 1em;
  padding-bottom: 1em;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
