.world-targets {
  display: block;
  padding: 0 11px 8px 11px;
}
.world-targets-description {
  padding: 0 15px 10px 15px;
}

.world-target {
  display: inline-block;
  margin: 5px;
}

.world-target a:hover {
  opacity: .6;
}
.content--main .world-targets {
  padding: 25px 0 10px;
}
.content--main .world-targets img {
  max-width: 115px;
}
@media screen and (max-width: 767px) {
  .content--main .world-targets img {
    max-width: 70px;
  }
}
.content--main .world-targets-description {
  padding: 0 5px 20px;
}
.content--meta .world-targets img {
  max-width: 70px;
}
