/**
 * @file
 * Change the google maps look.
 */
.gm-style-mtc {
  display: none;
}

.gmap-wrapper {
  position: relative;
}

.gmap-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200
}