/**
 *
 * Footer module.
 *
 * Contains styles related to the footer.
 *
 */


/* Styles.
================================================================================================================== */

.footer {
  background: $dark-blue;
  color: $white;
  min-height: 15em;


  &--inner {
    margin: 0 auto;
    max-width: $layout-max-width;

    @include flexbox;
    @include flex-wrap(wrap);
    @include flex-direction(row);

    @include breakpoint(45em) {
      @include flex-wrap(nowrap);
    }
  }


  &--block {
    padding: 2em 0;
    position: relative;

    @include flex(0, 0, 100%);

    @include breakpoint(45em) {
      @include flex(1, 0, 25%);
    }

    &:nth-child(3) {
      @include breakpoint(45em) {
        @include flex(1, 1, 50%);
      }
    }

    &:nth-child(4) {
      @include breakpoint(45em) {
        @include flex(1, 0, auto);
      }
    }
  }


  &--block-inner {
    overflow: hidden;
    padding: 0 $spacing 0 $spacing / 2;
  }


  // Content elements in footer is editable by editors. We set some defaults.
  hr {
    border-color: $white;
  }

  a {
    @include strip-link-styles($white, underline);
  }

  ul {
    padding-left: $spacing;
  }

  ol {
    padding-left: 20px;
  }

  table {
    table-layout: fixed;
    width: 100%
  }

  td,
  th {
    padding: .5em 1em;
  }


  &--eu-compliance {
    height: 150px;
    padding: $spacing / 2;
    margin: 0 auto;
    max-width: $layout-max-width;

    @include breakpoint($node-breakpoint) {
      height: 80px;
    }
  }

  &--after {
    padding: 2em $spacing / 2;

    background-color: rgba(0,0,0,0.25);
    text-align: center;
  }
}


// Display of EU compliance popup.
.footer--eu-compliance-inner {
  position: relative;

  @include vertical-center();

  @include flexbox;
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  @include flex-direction(row);
}


.footer--eu-compliance-text {
  color: $white;
  text-align: left;
  width: 100%;

  @include breakpoint($node-breakpoint) {
    width: 50%;
  }
}


.footer--eu-compliance-buttons {
  width: 100%;

  @include breakpoint($node-breakpoint) {
    width: 45%;
  }

  .button {
    padding: .4em .8em;
    font-size: 1em;
  }
}


// Sometimes the template is not rendered so we style the module html as well.
// Horrible nesting.
#sliding-popup {

  .popup-content {
    max-width: $layout-max-width;
    padding: 0 $spacing;
    box-sizing: border-box;

    #popup-text {
      padding-top: 1em;
    }

    #popup-buttons {
      padding: 1em 0;

      button {
        background: $dark-blue;
        border: 0;
        box-shadow: none;
        color: $white;
        text-shadow: none;

        &:hover {
          background: $dark-blue;
        }
      }
    }
  }
}
