/**
 *
 * Modal module.
 *
 * Contains styles related to presenting content in a modal box.
 *
 */

.modal {
  &--wrapper {
    @include modal-dialog();
  }

  &--header {
    padding-right: 40px;
  }

  &--close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &--open {
    margin-top: 1em;
    @extend %button;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid $white;
    color: $white;
    outline:none;

    @include strip-link-styles($white);
    @include text-shadow(.025em .025em .1em darken($white, 10%));

    @include border-radius($border-radius);
  }
}

.is-modal {
  @extend %itk--menu-nav-overlay;
}

