/**
 *
 * Nav module.
 *
 * Contains styles related to the navigation bar.
 *
 */


/* Placeholders, variables and mixins related to this document only.
================================================================================================================== */

%nav--list-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}


%nav--list-link {
  display: block;
  font-weight: bold;
  line-height: 40px;
  padding:  0 $spacing;
  vertical-align: middle;
  text-transform: uppercase;

  @include strip-link-styles($white);
}


/* Styles
========================================================================== */

.nav {
  display: none;
  background: $gray-darkest;

  z-index: 3;
  position: relative;

  @include breakpoint(1000px) {
    display: block;
  }

  &--inner {
    box-sizing: border-box;
    height: 40px;
    margin: 0 auto;
    max-width: $layout-max-width;
    position: relative;
    width: 100%;
  }

  &--list-dropdown-item,
  &--list-item {
    @extend %nav--list-item;

    &.active-trail {
      background-color: $gray-dark;
    }
    &:hover {
      background-color: $gray-darker;
    }

    &.expanded {  // Drupal default class
      padding-right: 25px;

      // Add dropdown arrow
      &:after {
        content: '';
        background-image: url("/profiles/ulf/themes/ulf_default/images/arrow-white.svg");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 15px;
        position: absolute;
        right: 5px;
        top: 0;
        width: 16px;
        height: 100%;
      }
    }
  }

  &--list-item-sub {
    border-bottom: 1px solid $gray-lighter;
    margin: 0 1em;
    width: auto;

    a {
      @include strip-link-styles($gray);

      display: block;
      font-weight: normal;
      padding: 1em;

      &.active {
        font-weight: bold;
      }

      &:hover {
        background-color: $white;
        text-decoration: underline;
      }
    }

    &:last-child {
      border: 0;
    }
  }

  &--dropdown-item {
    display: none;
  }

  &--list-dropdown-link,
  &--list-link {
    @extend %nav--list-link;
  }

  &--sub {
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;

    @include breakpoint(1000px) {
      position: absolute;

      z-index: 2;
      right: 0;

      background: $white;

      &.is-hidden {
        display: none;
      }
    }
  }

  // We want the first menu two items to expand right to avoid overflow.
  .nav--list-item:nth-child(1) .nav--sub,
  .nav--list-item:nth-child(2) .nav--sub {
    left: 0;
    right: auto;
  }
}


/* Mobile navigation
 *
 * Nesting once for all list items on mobile device.
================================================================================================================== */

.nav--mobile {
  // Itk component.
  @extend %itk--menu;

  .nav--inner {
    height: auto;
  }

  .nav--list-dropdown-item,
  .nav--list-item {
    box-sizing: border-box;
    background: transparent;
    padding: 0 1em;
    width: 100%;

    &:after {
      display: none;
    }

    &:last-child {
      border-bottom: 0;
    }
    
    &:hover {
      background: inherit;
    }
  }

  .nav--list-item-sub {
    margin: 0 0 0 1em;

    & a {
      padding: 1em 0;

      @include strip-link-styles($white);

      &:hover {
        background: inherit;
        text-decoration: underline;
      }
    }
  }

  .nav--list-link {
    display: inline;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav--list-dropdown-link:hover,
  .nav--list-link:hover {
    background: none;
  }
}


.nav--overlay {
  @extend %itk--menu-nav-overlay;
}



/* Static pages menu
 *
 * Static pages menu displayed in main menu sub, mobile menu and on node pages.
================================================================================================================== */

.nav {
  .nav--static-pages {
    box-sizing: border-box;
    min-width: 0;

    @include breakpoint(1000px) {
      min-width: 240px;
    }
  }

  .nav--static-pages-item {
    border-bottom: 1px solid $gray-lighter;
    margin: 0 1em;
    width: auto;

    a {
      @include strip-link-styles($gray);
      
      display: block;
      padding: 1em;

      &.active {
        font-weight: bold;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    
    &:last-child {
      border: 0;
    }
  }
}


// Reuse the main menu html but neest once to override styles.
.nav--mobile {
  .nav--list-link {
    display: block;
    padding: 0;
    border-bottom: 1px solid white;
    background: inherit;
  }

  .nav--sub {
    border-left: 0;
    border-right: 0;
  }

  .nav--static-pages-item {
    border-top: 1px solid $white;
    padding: 1em;

    a {
      @include strip-link-styles($white);

      display: block;
      margin-left: 1em;

      &.active {
        font-weight: bold;
      }
    }
  }
} 


.nav--static-pages.is-node {
  display: block;

  .nav--list-item-sub {
    border-bottom: 1px solid $white;
    padding: .5em 0;
    font-weight: bold;
    margin: 0;

    &:last-child {
      border-bottom: 0;
    }

    a {
      @include strip-link-styles($dark-blue);

      display: block;
      font-weight: bold;
      padding: 0;

      &:hover {
        background-color: transparent;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}
