/**
 *
 * Panels ipe
 *
 * - Contains styles used when panels ipe is active.
 * - The html is severely modified when panels ipe is activated on a page.
 * - Attempting to align the templates to our standards is unwise because alot
 * of js and css is expecting a certain html setup.
 * - We don't change the html but rather align our css to comply with this setup.
 *
 */


/* Styles.
================================================================================================================== */

.panels-ipe.front .layout-inner > div > div {
  padding: 0;
}

.panels-ipe.front .panels-ipe-portlet-content {
  padding: 2em 0;

  &.panels-ipe-empty-pane {
    padding: 0;
  }
}

//Ensure 100% width on all regions
.panels-ipe-region {
  width: 100%;
}

// First region. Imitate flexbox from
.panels-ipe-portlet-content {
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(row);
}

.panels-ipe-empty-pane,
.panels-ipe-display-container .is-empty {
  display: none;
}

.panels-ipe-display-container.panels-ipe-editing .panels-ipe-empty-pane,
.panels-ipe-display-container.panels-ipe-editing .is-empty {
  display: block;
}

