/**
 *
 * Panels ipe
 *
 * - Contains styles used when panels ipe is active.
 * - The html is severely modified when panels ipe is activated on a page.
 * - Attempting to align the templates to our standards is unwise because alot
 * of js and css is expecting a certain html setup.
 * - We don't change the html but rather align our css to comply with this setup.
 *
 */


/* Styles.
================================================================================================================== */

// Nest once to override styles used when panels ipe is not active.

//Ensure 100% width on all regions
.panels-ipe-region {
  width: 100%;
}

// First region. Imitate flexbox from
.panels-ipe-portlet-content {
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(row);
}

.panels-ipe-display-container .is-empty {
  display: none;
}


.panels-ipe-display-container.panels-ipe-editing .is-empty {
  display: block;
}

