.node-page-with-blocks {
  .content {
    margin: 0;
  }
}


.paragraphs-items-field-sections {
  width: 100%;
}

.paragraphs-item-one-column,
.paragraphs-item-two-column,
.paragraphs-item-three-columns,
.paragraphs-item-four-columns {
  .column-wrapper {
    margin: 0 auto;
    max-width: $layout-max-width;
    padding: 0 0 2.6em 0;
    position: relative;
    width: 100%;


    .row {
      @include flexbox;
      @include flex-wrap(wrap);
      @include flex-direction(row);

      margin: 0;
      @include breakpoint(1000px) {
        margin: 0 -10px;
      }
    }

    .paragraphs-items {
      display: block;
      box-sizing: border-box;
      padding: 0 1.3em 1.3em;
      @include breakpoint(45em) {
        padding: 0 1.3em;
        flex: 1;
      }
      .block--field-text {
        height: 100%;
        .entity-paragraphs-item {
          height: 100%;
        }
      }
    }
  }

  &--has-background, {
    .column-wrapper {
      padding: 2.6em 0;
    }

    + .entity-paragraphs-item {
      .column-wrapper {
        padding-top: 2.6em;
      }
    }

  }

  &:first-child {
    .column-wrapper {
      padding-top: 2.6em;
    }
  }
}

.paragraphs-item-one-column {
  .paragraphs-items {
    width: 100%;
  }
}

.paragraphs-item-two-column {
  .paragraphs-items {
    width: 100%;

    @include breakpoint(45em) {
      width: 50%;
    }
  }
}

.paragraphs-item-three-columns {
  .paragraphs-items {
    width: 100%;

    @include breakpoint(45em) {
      width: 33%;
    }
  }
}

.paragraphs-item-four-columns {
  .paragraphs-items {
    width: 100%;

    @include breakpoint(45em) {
      width: 25%;
    }
  }
}

.paragraphs-item-hero {
  height: 800px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .hero-wrapper {
    margin: 0 auto;
    max-width: $layout-max-width;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .hero--content {
    max-width: 100%;
    box-sizing: border-box;

    h1, h2 {
      color: $white;
      font-size: 2.2em;
      font-weight: normal;
    }

    .subline {
      color: $white;
      font-size: 1.5em;
      margin: 0;
    }

    @include breakpoint(45em) {
      width: 50%;
    }

    &--theme {
      &__daycare {
        background-color: rgba($daycare-color, .7);
      }

      &__school {
        background-color: rgba($school-color, .7);
      }

      &__youth {
        background-color: rgba($youth-color, .7);
      }

      &__course {
        background-color: rgba($course-color, .7);
      }

      &__black {
        background-color: rgba($black, .7);
      }

      &__white {
        background-color: rgba($white, .7);

        h1, h2, .subline {
          color: $black;
        }
      }
    }

    &--padding {
      &__sm {
        padding: 20px;
      }

      &__md {
        padding: 30px;
      }

      &__lg {
        padding: 40px;
      }
    }
  }

  + .entity-paragraphs-item {
    .column-wrapper {
      padding-top: 2.6em;
    }
  }

}

.paragraphs-item-appetizer {
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(row);
  background-color: $gray-lightest;
  height: 100%;

  .appetizer-column {
    width: 100%;

    @include breakpoint(45em) {
      width: 50%;
    }

    &__text {
      box-sizing: border-box;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

.paragraphs-item-two-column,
.paragraphs-item-three-columns,
.paragraphs-item-four-columns {
  .appetizer-column {
    width: 100%;

    &__text {
      display: block;
      padding: 20px;
    }
  }
}

.paragraphs-item-text-with-image,
.paragraphs-item-text-with-video {

  &--has-border {
    border: 1px solid;
  }

  &--has-border,
  &--has-background {
    .text__content {
      padding: 20px;

      p:last-child {
        margin: 0;
      }
    }
  }

  .text {
    &__content {
      &--with-visuals {
        padding-top: 20px;
      }
    }
  }
}

.paragraphs-item-link-list {

  h2 {
    margin-bottom: 0.5em;
  }

  &--has-border {
    border: 1px solid;
  }

  &--has-border,
  &--has-background {
    padding: 20px;

    p:last-child {
      margin: 0;
    }
  }

  ul {
    &.link-list {
      list-style-type: none;
      padding-left: 0;
      width: 100%;

      li {
        margin-top: 10px;
        padding-left: 20px;
        background: url('../icons/angle-right.png') no-repeat left 2px;

        &:first-child {
          margin-top: 0;
        }

        a {
          display: block;
          word-break: break-word;
        }
      }
    }
  }
}

.paragraphs-item-download-list {

  h2 {
    margin-bottom: 0.5em;
  }

  ul {
    &.download-list {
      list-style-type: none;
      padding-left: 0;
      width: 100%;

      li {
        padding-top: 10px;
        min-height: 30px;

        &:first-child {
          padding-top: 0;
        }
      }

      span {
        display: flex;
        position: relative;

        img.file-icon {
          height: 25px;
          width: auto;
        }

        a {
          display: block;
          padding-left: 10px;
          word-break: break-word;
        }
      }
    }
  }

  &--has-border,
  &--has-background {
    padding: 20px;

    p:last-child {
      margin: 0;
    }
  }
}

.paragraphs-item-spacer {

  &--hr {
    height: 1px;
    background-color: $gray-lightest;
  }

  &--small {
    margin: 25px 0;
  }

  &--medium {
    margin: 38px 0;
  }

  &--large {
    margin: 50px 0;

  }
}

.paragraphs-item-image-with-link {
  .image-with-link__wrapper {
    position: relative;

    img {
      object-fit: cover;
      height: 300px;
    }
  }
  .image-with-link__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    h2 {
      margin: 10px 15px;
      color: #ffffff;
    }
  }
}

.paragraphs-item-text-with-image,
.paragraphs-item-text-with-video,
.paragraphs-item-link-list,
.paragraphs-item-download-list,
.paragraphs-item-appetizer {
  &--has-border {
    border: 1px solid;
  }

}

.entity-paragraphs-item {
  &:last-child {
    margin: 0;

    .column-wrapper {
      padding-bottom: 2.6em;
    }
  }

  .block--field-text {
    margin: 0;
  }

  .btn {
    @extend %button;
    @include strip-link-styles($white);
  }
  @media(max-width: 720px) {
    &.paragraphs-item-image-with-link {
      margin: 10px 0;
    }
  }
}

.paragraphs-item {
  &--text-color {
    &__negative {
      a {
        @include strip-link-styles(#FFFFFF);
      }
    }
  }

  &--alignment {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }

}
