.node-page-with-blocks {
  .content {
    margin: 0;
  }
}


.paragraphs-items-field-sections {
  width: 100%;
}

.paragraphs-item-one-column,
.paragraphs-item-two-column,
.paragraphs-item-three-columns,
.paragraphs-item-four-columns {
  .column-wrapper {
    margin: 0 auto;
    max-width: $layout-max-width;
    padding: 1.3em 0;
    position: relative;
    width: 100%;


    .row {
      @include flexbox;
      @include flex-wrap(wrap);
      @include flex-direction(row);

      margin: 0;
      @include breakpoint(1000px) {
        margin: 0 -10px;
      }
    }

    .paragraphs-items {
      display: block;
      box-sizing: border-box;
      padding: 0 1.3em;
      @include breakpoint(45em) {
        flex: 1;
      }
    }
  }
}

.paragraphs-item-one-column {
  .paragraphs-items {
    width: 100%;
  }
}

.paragraphs-item-two-column {
  .paragraphs-items {
    width: 100%;

    @include breakpoint(45em) {
      width: 50%;
    }
  }
}

.paragraphs-item-three-columns {
  .paragraphs-items {
    width: 100%;

    @include breakpoint(45em) {
      width: 33%;
    }
  }
}

.paragraphs-item-four-columns {
  .paragraphs-items {
    width: 100%;

    @include breakpoint(45em) {
      width: 25%;
    }
  }
}


.paragraphs-item-hero {
  height: 400px;
  margin: 0 0 1.3em 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .hero-wrapper {
    margin: 0 auto;
    max-width: $layout-max-width;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .hero--content {
    max-width: 100%;
    box-sizing: border-box;

    h1, h2 {
      color: $white;
      font-size: 3em;
      font-weight: bold;
    }

    p.subline {
      color: $white;
      font-size: 2em;
      margin: 0;
    }

    @include breakpoint(45em) {
      width: 50%;
    }

    &--theme {
      &__daycare {
        background-color: rgba($daycare-color, .7);
      }

      &__school {
        background-color: rgba($school-color, .7);
      }

      &__youth {
        background-color: rgba($youth-color, .7);
      }

      &__course {
        background-color: rgba($course-color, .7);
      }

      &__black {
        background-color: rgba($black, .7);
      }

      &__white {
        background-color: rgba($white, .7);
        h1, h2, p.subline {
          color: $black;
        }
      }
    }

    &--padding {
      &__sm {
        padding: 20px;
      }
      &__md{
        padding: 30px;
      }
      &__lg {
        padding: 40px;
      }
    }
  }
}

.paragraphs-item-appetizer {
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(row);
  background-color: $gray-lightest;

  .appetizer-column {
    width: 100%;

    @include breakpoint(45em) {
      width: 50%;
    }

    &__text {
      box-sizing: border-box;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

.paragraphs-item-two-column,
.paragraphs-item-three-columns,
.paragraphs-item-four-columns {
  .appetizer-column {
    width: 100%;

    &__text {
      display: block;
      padding: 20px;
    }
  }
}

.paragraphs-item-text-with-image,
.paragraphs-item-text-with-video {
  .text {
    &__content {
      &--with-visuals {
        padding-top: 20px;
      }
    }
  }
}

.paragraphs-item-link-list {
  ul {
    &.link-list {
      list-style-type: none;
      padding-left: 0;
      padding-left: 0;

      li {
        padding-top: 5px;

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}

.paragraphs-item-download-list {
  ul {
    &.download-list {
      list-style-type: none;
      padding-left: 0;

      li {
        padding-top: 5px;

        &:first-child {
          padding-top: 0;
        }
      }

      span {
        display: block;
        position: relative;

        img.file-icon {
          position: absolute;
        }

        a {
          display: block;
          padding-left:25px;
        }
      }
    }
  }
}


