/**
 *
 * Social media module.
 *
 * Contains styles related to social media block.
 *
 */


/* Styles
================================================================================================================== */
.social-media {
  @include flexbox();
  @include flex-direction(row-reverse);

  text-align: center;

  @include breakpoint(45em) {
    text-align: right;
  }

  &--icon {
    @include flex(1, 0, 40px);

    margin-left: 5%;
  }

  &--header-wrapper {
    display: none;

    @include breakpoint(1000px) {
      display: block;
      width: 150px;
      position: absolute;
      right: 8px;
      top: 50%;

      @include transform(translateY(-50%));

      img {
        height: 30px;
      }
    }
  }
}


